## SET UP

In [ ]:
import numpy as np
import pandas as pd

#Automcompletar rápido
%config IPCompleter.greedy=True

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 40)
pd.options.display.float_format = '{:15.2f}'.format

## IMPORTACION DE DATOS

En la siguiente web haremos un scraping con la extensión de Google que hemos instalado llamada 'Instant Data Scraper' y haremos una limpieza del dataset para quedarnos con la información que nos interese

https://www.idealista.com/sala-de-prensa/informes-precio-vivienda/venta/madrid-comunidad/madrid-provincia/madrid/

Ruta archivo de datos

In [8]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Julio_Valero/Proyecto_Final_Evolve/'
carpeta = '99_Data/'

Nombres de los ficheros de datos.

In [13]:
idealista_oct25 = 'idealista.csv'

Cargamos los datasets

In [ ]:
precio_m2 = pd.read_csv(ruta_principal + carpeta + idealista_oct25)
precio_m2.head()

,table__cell,table__cell 2,table__cell 3,table__cell 4,table__cell 5,table__cell 6,table__cell 7,icon-elbow,icon-elbow href
0,Madrid,5.705 €/m2,"+ 0,5 %","- 0,2 %","+ 18,1 %",5.723 €/m2 ago 2025,"- 0,3 %",NaN,NaN
1,"+ 17,8 %",5.982 €/m2,"+ 0,5 %","0,0 %","+ 4,0 %",5.982 €/m2 oct 2025,NaN,Arganzuela,https://www.idealista.com/sala-de-prensa/infor...
2,"+ 19,2 %",4.646 €/m2,"+ 4,6 %","0,0 %","+ 5,7 %",4.646 €/m2 oct 2025,NaN,Barajas,https://www.idealista.com/sala-de-prensa/infor...
3,"+ 23,0 %",3.467 €/m2,"+ 2,3 %","0,0 %","+ 3,4 %",3.467 €/m2 oct 2025,NaN,Carabanchel,https://www.idealista.com/sala-de-prensa/infor...
4,"- 1,4 %",7.214 €/m2,"+ 10,2 %","- 0,5 %",NaN,7.314 €/m2 jul 2025,"- 1,4 %",Centro,https://www.idealista.com/sala-de-prensa/infor...

Cargamos los datos, quitamos el primer registro y seleccionamos solo las columnas de precio y distrito

In [19]:
precio_m2 = pd.read_csv(ruta_principal + carpeta + idealista_oct25) \
    .loc[1:,['table__cell 2','icon-elbow']] \
    .rename(columns = {'table__cell 2':'precio_m2','icon-elbow':'distrito'})
precio_m2

     precio_m2            distrito
1   5.982 €/m2          Arganzuela
2   4.646 €/m2             Barajas
3   3.467 €/m2         Carabanchel
4   7.214 €/m2              Centro
5   7.588 €/m2           Chamartín
6   8.447 €/m2            Chamberí
7   4.883 €/m2       Ciudad Lineal
8   5.098 €/m2          Fuencarral
9   5.091 €/m2           Hortaleza
10  3.785 €/m2              Latina
11  6.206 €/m2             Moncloa
12  4.047 €/m2           Moratalaz
13  3.039 €/m2  Puente de Vallecas
14  7.729 €/m2              Retiro
15  9.755 €/m2           Salamanca
16  3.792 €/m2            San Blas
17  5.675 €/m2              Tetuán
18  3.213 €/m2               Usera
19  3.716 €/m2           Vicálvaro
20  3.430 €/m2   Villa de Vallecas
21  2.709 €/m2          Villaverde

Limpiamos el precio:
    
1. quitando la unidad
2. quitando los puntos de separador de miles
3. cambiando el tipo a entero

In [ ]:
precio_m2['precio_m2'] = precio_m2['precio_m2'].str.replace(' €/m2','').str.replace('.','').astype('int')
precio_m2

    precio_m2            distrito
1        5982          Arganzuela
2        4646             Barajas
3        3467         Carabanchel
4        7214              Centro
5        7588           Chamartín
6        8447            Chamberí
7        4883       Ciudad Lineal
8        5098          Fuencarral
9        5091           Hortaleza
10       3785              Latina
11       6206             Moncloa
12       4047           Moratalaz
13       3039  Puente de Vallecas
14       7729              Retiro
15       9755           Salamanca
16       3792            San Blas
17       5675              Tetuán
18       3213               Usera
19       3716           Vicálvaro
20       3430   Villa de Vallecas
21       2709          Villaverde

Generamos una nueva columna de precios_m2 haciendo un map con las tablas que contengan los distritos y los metros cuadrados de la vivienda para tener todo en la misma tabla y después conseguimos el valor total de la vivienda con los m2 y el precio_m2 en una nueva columna calculada