# Map, Filter, Reduce

In [2]:
from functools import reduce

In [4]:
#map() 
#filter()
#reduce()

Tienes 10 minutos para explorar y comprender por tu cuenta el rol que te han asignado. Estos enlaces pueden resultarte 煤tiles:

- [map, filter, reduce - I](https://medium.com/swlh/higher-order-functions-in-python-map-filter-and-reduce-34299fee1b21)
- [map, filter, reduce - II](https://www.learnpython.org/en/Map,_Filter,_Reduce)
- [map, filter, reduce - III](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples)

# Intro Funciones - Conceptos b谩sicos

In [ ]:
# las tres funciones: sirven para recorrer iterables
# reciben funciones & iterables


# 1. un bucle
#2. transformaci贸n

## bucle -> comprehension
##bucle -> iteraci贸n con map/filter/reduce

## Map, Filter, Reduce

Existen tres funciones que nos resultar谩n muy 煤tiles a la hora de trabajar con iteradores. Estas funciones facilitan ciertas operaciones b谩sicas y comunes sobre colecciones iterables de datos, como por ejemplo eliminar elementos que no cumplen una determinada condici贸n, calcular un resultado a partir de los datos contenidos o aplicar una transformaci贸n a cada elemento. Ve谩moslas con ejemplos de uso:

In [7]:
ciudades = ["Madrid", "Legan茅s", "c贸rdoba"]
new_list = []

for i in ciudades: # 1. Itero
    m = i.upper() # 2. Transformar (funci贸n/m茅todo)
    new_list.append(m)
new_list

['MADRID', 'LEGANS', 'CRDOBA']

In [13]:
def mayusculizar (x):
    return x.upper()

In [14]:
list(map(mayusculizar, ciudades))

['MADRID', 'LEGANS', 'CRDOBA']

### Map

- 1. Loop
 
- 2. Function
- 2. Function & loop
    
- 3. Map/filter/reduce & user-defined function
- 4. Map/filter/reduce & lambda function

La funci贸n map() toma una funci贸n y una lista y aplica esa funci贸n a cada elemento de esa lista, generando una nueva lista.
```python
map(function_to_apply, list_of_inputs)
```

In [ ]:
ciudades = ["Madrid", "Legan茅s", "c贸rdoba"]
new_list = []

for i in ciudades: # 1. Itero
    m = i.upper() # 2. Transformar (funci贸n/m茅todo)
    new_list.append(m)
new_list

In [ ]:
def mayusculizar (x):
    return x.upper()

In [15]:
list(map(mayusculizar, ciudades))
#1. funci贸n
# 2. iterable
# 3. castear a lista

['MADRID', 'LEGANS', 'CRDOBA']

`objetivo: cuadrado de n煤meros`

In [16]:
lst_num = [2, 3, 4, 5]

#### Primero lo hacemos con funciones

In [17]:
def elevar (n):
    return n ** 2

In [18]:
new_list = []
for i in lst_num:
    new_list.append(i**2)
new_list

[4, 9, 16, 25]

In [19]:
new_list = []
for i in lst_num:
    cuadrado = elevar(i)
    new_list.append(cuadrado)
new_list

[4, 9, 16, 25]

In [21]:
new_list = [i**2 for i in lst_num]
new_list

[4, 9, 16, 25]

In [20]:
new_list = [elevar(i) for i in lst_num]
new_list

[4, 9, 16, 25]

In [23]:
list(map(elevar, lst_num))

[4, 9, 16, 25]

In [30]:
list(map(elevar, range(0, 10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
set(map(elevar, range(0, 10)))

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
# lambda

In [41]:
def ej_diccionario (pareja):
    return {pareja[0]:pareja[1]}

In [42]:
lst_num = [("hola", "qu茅 tal")]

In [ ]:
list(map(ej_diccionario, lst_num)) #no con diccionario

[{'hola': 'qu茅 tal'}]

La funci贸n de mapa devuelve un iterador, por lo que debemos usar `list(map_iterator)`

#### Extra: 隆Hazlo con lambda!

In [ ]:
new_list = [elevar(i) for i in lst_num]

In [48]:
lst_num = [1, 2, 4, 5]

In [ ]:
def elevar (n):
    return n ** 2

In [ ]:
list(map(lambda x: x**2, lst_num)) #lambda: no tiene nombre, an贸nima -> NO es reutilizable

[1, 4, 16, 25]

In [51]:
list(map(lambda x: x.upper(), ["hola", "qu茅"]))

['HOLA', 'QU']

In [ ]:
# lambda

In [ ]:
list_of_tuples = [("Almer铆a", 3), ("Barcelona", 100000), ("Zaragoza", 90)]
sorted(list_of_tuples, key=lambda x: x[1], reverse=True)

[('Barcelona', 100000), ('Zaragoza', 90), ('Almer铆a', 3)]

In [ ]:
#Map, filter, reduce
    #funciones
    # reciben funciones e iterables
    #son m谩s eficientes
# como reciben funciones
    #built-in
    #def 
    # lambda -> no son reutilizables
        # sirven para el momento en el que se ejecutan


# filter, reduce

In [2]:
# map, filer, reduce: funciones nativas de Python
# sirven para:
    #aplicar cosas (transformaciones; funciones) a iterables
    # recorren los elementos del iterable -> y hacen cosas

#map(func, iterable)
#filter(func, iterable)
#reduce(func, iterable)

# Funci贸n: built-in/m茅todo
# Funci贸n: definida por usuario
# Funci贸n: lambda
    # lambda x: x**2 -> utilizarlo en el momento y NO reutilizarlo

### Filter

- 1. Loop
 
- 2. Function
- 2. Function & loop
    
- 3. Map/filter/reduce & user-defined function
- 4. Map/filter/reduce & lambda function

La funci贸n filter() filtra una lista de elementos para los cuales una funci贸n devuelve Verdadero.
```python
filter(a_function, a_list)
```

Imagina que quieres filtrar una lista de n煤meros para obtener solo valores pares.

In [ ]:
def pares_impares (n):
    #Filter: devuelve o true o false
    if n % 2 == 0: # True
        return n**2 #truthy
    return False

In [19]:
def pares_impares (n):
    #Filter: devuelve o true o false
    if n % 2 == 0: # True
        return True
    return False

In [16]:
pares_impares (2)

4

In [17]:
lst_numeros = [2, 0, 324, 45, 24 , 456, 32, 100, 99, 88, 7, 1, 1, 1, 1, 3, 2]
list(filter(pares_impares, lst_numeros))

[2, 324, 24, 456, 32, 100, 88, 2]

In [ ]:
#s贸lo devuelve aquellos elementos que al ser pasados por la funci贸n devuelven True

#### Primero lo hacemos con funciones

Imagina que quieres filtrar una lista y conservar solo los grupos que empiezan con la letra R

In [20]:
ciudades = ["Rotterdam", "Rota", "Madrid", "Ronda", "Albacete", "Valencia", "Le贸n"]

In [21]:
def empiezaporr(c):
    if c.lower().startswith("r"):
        return True
    return False

In [24]:
"Rotterdam".startswith("r")

False

In [26]:
def empiezaporr(c):
    return c.lower().startswith("r")

In [27]:
empiezaporr("Rotterdam")

True

In [29]:
list(filter(empiezaporr, ciudades))

['Rotterdam', 'Rota', 'Ronda']

In [30]:
#Albert
"""
que un objeto sea truthy quiere decir que este objeto no es booleano, 
que es otro objeto pero se interpreta como True? 
O sea lo que dec铆amos que cualquier numero excepto el 0 se interpreta como true.

->

Las cosas eval煤an a verdadero/falso
Sin que sean True/False

La funciones deuvelven cosas o no devuelven nada
Pero eval煤an a algo: return / None
"""

'\nque un objeto sea truthy quiere decir que este objeto no es booleano, \nque es otro objeto pero se interpreta como True? \nO sea lo que dec铆amos que cualquier numero excepto el 0 se interpreta como true.\n\n->\n\nLas cosas eval煤an a verdadero/falso\nSin que sean True/False\n\nLa funciones deuvelven cosas o no devuelven nada\nPero eval煤an a algo: return / None\n'

#### Extra: 隆Hazlo con lambda!

In [ ]:
def empiezaporr(c):
    return c.lower().startswith("r")

In [41]:
list(filter(lambda c: c.lower().startswith("r"), ciudades))

['Rotterdam', 'Rota', 'Ronda']

In [37]:
#list(filter(lambda c: else c.upper() c.lower().startswith("r") if len(c) > 4, ciudades))
list(map(lambda c: c.lower() if len(c) < 6 else c.upper(), ciudades))

['ROTTERDAM', 'rota', 'MADRID', 'ronda', 'ALBACETE', 'VALENCIA', 'le贸n']

In [40]:
list(filter(lambda c: c.lower() if len(c) < 6 else False, ciudades))

['Rota', 'Ronda', 'Le贸n']

### Reduce

In [42]:
from functools import reduce

Esta funci贸n no es una funci贸n incorporada, lo que significa que primero debe importar la biblioteca functools para usarla. La funci贸n ``
`reduce()` aplica de forma acumulativa la funci贸n f() a los elementos del iterable. El acumulador se puede inicializar con un tercer argumento opcional. El resultado es el valor final del acumulador.

```python
reduce(function, iterable[, initial])
```

In [ ]:
# reduce(fnc, iterable)
#map -> itera y hace
# filter -> itera y filtra
#reduce -> itera y reduce

In [ ]:
def suma (a, b):
    return (a**2 + b - 7) * 100

suma(4, 2)

1100

In [57]:
def suma (a, b):
    return a + b

suma(4, 2)

6

In [49]:
lst_num = [1, 3, 6 ,2, 5, 67]
lst_num = [4, 6 ,2, 5, 67]
lst_num = [10 ,2, 5, 67]
lst_num = [12, 5, 67]
lst_num = [17, 67]
lst_num = 84

In [55]:
lst_num = [1, 3, 6 ,2, 5, 67]

reduce(suma, lst_num)

4304289477358954519049491003796919925640213725338776066499000004006000

In [46]:
ciudades

['Rotterdam', 'Rota', 'Madrid', 'Ronda', 'Albacete', 'Valencia', 'Le贸n']

In [47]:
reduce(suma, ciudades)

'RotterdamRotaMadridRondaAlbaceteValenciaLe贸n'

In [ ]:
def suma (a, b):
    return a + b

In [64]:
reduce(lambda a, b: a + "\n" + b, ciudades)

'Rotterdam\nRota\nMadrid\nRonda\nAlbacete\nValencia\nLe贸n'

In [65]:
print(
'Rotterdam\nRota\nMadrid\nRonda\nAlbacete\nValencia\nLe贸n'
)

Rotterdam
Rota
Madrid
Ronda
Albacete
Valencia
Le贸n

锔 Reduce es un poco m谩s complicado de entender que map() y filter() as铆 que veamos el siguiente ejemplo 锔

#### 驴Qu茅 sucedi贸?
- Empezamos con una lista [2, 4, 7, 3] y pasamos la funci贸n add (x, y) a reduce ( ) junto con esta lista, sin un valor inicial

- reduce() llama a add(2, 4), y add() devuelve 6

- reduce() llama a sum(6, 7) (resultado de la llamada anterior a sum() y el siguiente elemento en la lista como par谩metros), y sum() devuelve 13

- reduce() llama a sum(13, 3), y sum() devuelve 16

Como no quedan m谩s elementos en la secuencia, reduce() devuelve 16

Factorial:
Cantidad que resulta de la multiplicaci贸n de un determinado n煤mero natural por todos los n煤meros naturales que lo preceden, excluido el cero; se representa por n!

### Primero lo hacemos con funciones

### Bonus: 隆Hazlo con lambda!

## Resumen

## Materiales adicionales
http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/