# CALIDAD DE DATOS

## 1. IMPORTAMOS PAQUETES Y DATOS

In [460]:
import pandas as pd
import zipfile
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
%config IPCompleter.greedy = True
import warnings
warnings.filterwarnings('ignore')

Definimos la ruta donde ubicamos los datasets para no tener que estar poniéndola en cada ocasión

In [461]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '999_data/'

Definimos el dataset que vamos a usar

In [462]:
zip_name = 'Crime_Data_from_2020_to_Present.zip'
csv_filename = 'Crime_Data_from_2020_to_Present.csv'

In [463]:
zip_path = ruta_principal + carpeta + zip_name

Cargamos el dataset df

In [464]:
frac = 0.33
chunksize = 100_000  # ajusta según memoria

rows = []

with zipfile.ZipFile(zip_path) as z:
    with z.open(csv_filename) as f:
        for chunk in pd.read_csv(f, chunksize=chunksize):
            rows.append(chunk.sample(frac=frac))
            
df = pd.concat(rows, ignore_index=True)
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,200114944,07/17/2020 12:00:00 AM,07/16/2020 12:00:00 AM,1400,1,Central,111,1,330,BURGLARY FROM VEHICLE,1307 1822 0329 0352 1609 0344,27,F,B,103.0,ALLEY,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 BAMBOO LN,NaN,34.0658,-118.2366
1,202007973,03/27/2020 12:00:00 AM,03/26/2020 12:00:00 AM,1400,20,Olympic,2002,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,500 N GRAMERCY PL,NaN,34.0803,-118.3125
2,202114730,10/11/2020 12:00:00 AM,10/11/2020 12:00:00 AM,1956,21,Topanga,2136,2,624,BATTERY - SIMPLE ASSAULT,0400,36,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,7300 MILWOOD AV,NaN,34.2029,-118.5943
3,210704099,01/04/2021 12:00:00 AM,12/23/2020 12:00:00 AM,1800,7,Wilshire,711,1,330,BURGLARY FROM VEHICLE,0344 1601,51,M,O,101.0,STREET,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 N ORLANDO AV,NaN,34.0781,-118.3732
4,200511531,07/07/2020 12:00:00 AM,06/29/2020 12:00:00 AM,2000,5,Harbor,529,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344,66,M,W,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,1500 ANCHORAGE RD,NaN,33.7672,-118.2414

## 2. COMPROBAMOS LAS CARACTERÍSTICAS DEL DATASET

In [465]:
df.shape

(331647, 28)

Comprobamos que el dataset tiene nulos y nos sirve para trabajar

In [466]:
df.isna().sum().sort_values(ascending=False)

Crm Cd 4          331628
Crm Cd 3          330877
Crm Cd 2          308670
Cross Street      280854
Weapon Used Cd    223492
Weapon Desc       223492
Mocodes            50056
Vict Descent       47725
Vict Sex           47722
Premis Desc          208
Premis Cd              9
Crm Cd 1               2
Status                 1
Vict Age               0
Crm Cd                 0
Crm Cd Desc            0
AREA NAME              0
Rpt Dist No            0
AREA                   0
TIME OCC               0
Date Rptd              0
DATE OCC               0
DR_NO                  0
Part 1-2               0
Status Desc            0
LOCATION               0
LAT                    0
LON                    0
dtype: int64

Comprobamos las dimensiones de la tabla y los valores únicos de DR_NO ya que sospecho que debe ser el índice

In [467]:
dimensiones_df = df.shape
print(f'Dimensiones df: ', dimensiones_df)

Dimensiones df:  (331647, 28)

In [468]:
DR_NO = df.DR_NO.nunique()
print(f'Valores únicos de DR_NO: ', DR_NO)

Valores únicos de DR_NO:  331647

CAMBIOS EN NOMBRES E ÍNDICE: 
- Transformamos a minúsculas los nombres de las columnas
- Ponemos 'dr_no' como index ya que es el identificador del reporte

In [469]:
df.columns = df.columns.str.replace(' ','_').str.lower()
df.columns = df.columns.str.replace('-','_')
df = df.set_index('dr_no')
df

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
200114944,07/17/2020 12:00:00 AM,07/16/2020 12:00:00 AM,1400,1,Central,111,1,330,BURGLARY FROM VEHICLE,1307 1822 0329 0352 1609 0344,27,F,B,103.0,ALLEY,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 BAMBOO LN,NaN,34.0658,-118.2366
202007973,03/27/2020 12:00:00 AM,03/26/2020 12:00:00 AM,1400,20,Olympic,2002,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,500 N GRAMERCY PL,NaN,34.0803,-118.3125
202114730,10/11/2020 12:00:00 AM,10/11/2020 12:00:00 AM,1956,21,Topanga,2136,2,624,BATTERY - SIMPLE ASSAULT,0400,36,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,7300 MILWOOD AV,NaN,34.2029,-118.5943
210704099,01/04/2021 12:00:00 AM,12/23/2020 12:00:00 AM,1800,7,Wilshire,711,1,330,BURGLARY FROM VEHICLE,0344 1601,51,M,O,101.0,STREET,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 N ORLANDO AV,NaN,34.0781,-118.3732
200511531,07/07/2020 12:00:00 AM,06/29/2020 12:00:00 AM,2000,5,Harbor,529,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344,66,M,W,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,1500 ANCHORAGE RD,NaN,33.7672,-118.2414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241209917,04/11/2024 12:00:00 AM,04/11/2024 12:00:00 AM,1430,12,77th Street,1245,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1402 1309 0443,29,M,H,108.0,PARKING LOT,102.0,HAND GUN,AO,Adult Other,930.0,998.0,NaN,NaN,FLORENCE,NORMANDIE,33.9746,-118.3003
241814866,11/23/2024 12:00:00 AM,11/22/2024 12:00:00 AM,2000,18,Southeast,1838,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,10700 GRAPE ST,NaN,33.9389,-118.2370
240113722,06/30/2024 12:00:00 AM,06/30/2024 12:00:00 AM,550,1,Central,119,2,888,TRESPASSING,1501 0910,0,X,X,900.0,MTA - RED LINE - UNION STATION,NaN,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.0561,-118.2375
242111676,09/13/2024 12:00:00 AM,09/12/2024 12:00:00 AM,2150,21,Topanga,2185,1,330,BURGLARY FROM VEHICLE,0344 1307,38,F,K,101.0,STREET,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,4800 REFORMA RD,NaN,34.1559,-118.6158
240710787,08/18/2024 12:00:00 AM,08/17/2024 12:00:00 AM,1900,7,Wilshire,765,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1200 S TREMAINE AV,NaN,34.0531,-118.3391

## 3. SIGNIFICADO Y FORMATO DE LAS COLUMNAS

Ya sabemos que podemos trabajar con el dataset y lo tenemos cargado con los nombre de las columnas en su formato correto

Significado de las columnas:
- dr_no: Número de expediente oficial compuesto por un año de 2 dígitos, un ID de área y 5 dígitos.
- date_rptd: Fecha de Reporte. Indica el día en que el crimen o incidente fue oficialmente reportado (MM/DD/AAAA)
- date_occ: Fecha de Ocurrencia. Indica el día real en que el crimen tuvo lugar (MM/DD/AAAA)
- time_occ: Hora de Ocurrencia en horario militar de 24 horas.
- area: Áreas Geográficas o Divisiones de Patrulla numeradas secuencialmente del 1 al 21.
- area_name: Nombre de las áreas Geográficas o Divisiones de Patrulla
- rpt_dist_no: Número de distrito de la patrulla del oficial que informó el incidente.
- part_1_2: Indica si el incidente es un crimen de la Parte 1 (crímenes más graves) o de la Parte 2 (crímenes menos graves).
- crm_cd: Código de delito de 3 dígitos del crimen cometido.
- crm_cd_desc: Descripción del delito del crimen cometido.
- mocodes: Modus Operandi o la manera distintiva o característica en que una persona lleva a cabo una actividad criminal.
- vict_age: Edad de la víctima
- vict_sex: Sexo de la víctima.
- vict_descent: Código de descendencia de la víctima
- premis_cd: El Código de Instalación es un código de 3 dígitos que identifica el tipo de lugar donde ocurrió el incidente
- premis_desc: Descripción de la Instalación.
- weapon_used_cd: El Código de Arma es un código de 3 dígitos que identifica el tipo de arma utilizada en el incidente
- weapon_desc: Descripción del Arma.
- status: Estado del caso. (IC es el valor predeterminado)
- status_desc: Define el Código de Estado proporcionado.
- crm_cd_1: Indica el crimen cometido. El Código de Crimen 1 es el principal y el más grave. Los Códigos de Crimen 2, 3 y 4 son, respectivamente, delitos menos graves. Los números de clase de crimen más bajos son más graves.
- crm_cd_2: Puede contener un código para un crimen adicional, menos grave que el Código de Crimen 1.
- crm_cd_3: Puede contener un código para un crimen adicional, menos grave que el Código de Crimen 1.
- crm_cd_4: Puede contener un código para un crimen adicional, menos grave que el Código de Crimen 1.
- location: Dirección postal del incidente del crimen redondeada al centenar de la cuadra más cercana para mantener el anonimato.
- cross_street: El nombre de la calle que se cruza con la calle principal donde ocurrió el incidente.
- lat: Latitud.
- lon: Longitud.

Códigos de descendencia: 
- A: Asiáticos
- B: Afroamericano
- C: Chino
- D: Camboyano
- F: Filipino
- G: Guamés
- H: Hispano
- I: Indio Americano
- J: Japonés
- K: Coreano
- L: Laosiano
- O: Otro
- P: Isleño del Pacífico
- S: Samoano
- U: Hawaiano
- V: Vietnamita
- W: Blanco
- X: Desconocido
- Z: Hindú Asiático

Revisamos los tipos de datos de cada variable observando entre el .info() y la viasualización de la propia tabla y no se requieren cambios 

También observamos en el count que hay nulos en varias columnas que trataremos posteriormente

In [470]:
pd.set_option('display.max_columns', None)
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
230209513,04/24/2023 12:00:00 AM,04/23/2023 12:00:00 AM,2030,2,Rampart,218,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,800 LAGUNA AV,NaN,34.0727,-118.2597

In [471]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331647 entries, 200114944 to 240710787
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date_rptd       331647 non-null  object
 1   date_occ        331647 non-null  object
 2   time_occ        331647 non-null  int64
 3   area            331647 non-null  int64
 4   area_name       331647 non-null  object
 5   rpt_dist_no     331647 non-null  int64
 6   part_1_2        331647 non-null  int64
 7   crm_cd          331647 non-null  int64
 8   crm_cd_desc     331647 non-null  object
 9   mocodes         281591 non-null  object
 10  vict_age        331647 non-null  int64
 11  vict_sex        283925 non-null  object
 12  vict_descent    283922 non-null  object
 13  premis_cd       331638 non-null  float64
 14  premis_desc     331439 non-null  object
 15  weapon_used_cd  108155 non-null  float64
 16  weapon_desc     108155 non-null  object
 17  status          331646 non-null  object
 18  status_desc     331647 non-null  object
 19  crm_cd_1        331645 non-null  float64
 20  crm_cd_2        22977 non-null   float64
 21  crm_cd_3        770 non-null     float64
 22  crm_cd_4        19 non-null      float64
 23  location        331647 non-null  object
 24  cross_street    50793 non-null   object
 25  lat             331647 non-null  float64
 26  lon             331647 non-null  float64
dtypes: float64(8), int64(6), object(13)
memory usage: 70.8+ MB

## 4. TRATAMIENTO DE VARIABLES

### FORMATO DE VARIABLES

Las columnas 'date_rptd' y 'date_occ' vamos a eliminar la hora porque en todos los registros nos dicen que ha sido a las '12:00:00 AM'. Esta información es errónea según la columna 'time_occ' y además no nos aporta información como variable porque es una constante en todos los registros

In [472]:
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
240912857,11/06/2024 12:00:00 AM,11/04/2024 12:00:00 AM,1430,9,Van Nuys,989,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344 0385,28,M,O,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,4300 VENTURA CANYON AV,NaN,34.1478,-118.4296

Eliminamos la parte de la hora

In [473]:
df['date_rptd'] = df['date_rptd'].str.split(' ').str[0]
df['date_occ'] = df['date_occ'].str.split(' ').str[0]

In [474]:
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
200612535,07/13/2020,07/13/2020,1010,6,Hollywood,666,2,624,BATTERY - SIMPLE ASSAULT,0400 0522 0329 1300 0919 1822,54,M,W,122.0,"VEHICLE, PASSENGER/TRUCK",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,740.0,NaN,NaN,VAN NESS,SUNSET,34.0944,-118.3277

Separamos la composición de las fechas con formato '%m/%d/%Y' de las columnas 'date_rptd' y 'date_occ' en una columna para los años, otra para meses y otra para días

In [475]:
df['year_rptd'] = df['date_rptd'].str.split('/').str[2]
df['month_rptd'] = df['date_rptd'].str.split('/').str[0]
df['day_rptd'] = df['date_rptd'].str.split('/').str[1]
df['year_occ'] = df['date_occ'].str.split('/').str[2]
df['month_occ'] = df['date_occ'].str.split('/').str[0]
df['day_occ'] = df['date_occ'].str.split('/').str[1]
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230617753,11/13/2023,11/13/2023,30,6,Hollywood,668,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1300 N ST ANDREWS PL,NaN,34.0949,-118.3104,2023,11,13,2023,11,13

Hacemos un datetime de las columnas de fechas

In [476]:
df['date_rptd'] = pd.to_datetime(df['date_rptd'], dayfirst=False, format='%m/%d/%Y')
df['date_occ'] = pd.to_datetime(df['date_occ'], dayfirst=False, format='%m/%d/%Y')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331647 entries, 200114944 to 240710787
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date_rptd       331647 non-null  datetime64[ns]
 1   date_occ        331647 non-null  datetime64[ns]
 2   time_occ        331647 non-null  int64
 3   area            331647 non-null  int64
 4   area_name       331647 non-null  object
 5   rpt_dist_no     331647 non-null  int64
 6   part_1_2        331647 non-null  int64
 7   crm_cd          331647 non-null  int64
 8   crm_cd_desc     331647 non-null  object
 9   mocodes         281591 non-null  object
 10  vict_age        331647 non-null  int64
 11  vict_sex        283925 non-null  object
 12  vict_descent    283922 non-null  object
 13  premis_cd       331638 non-null  float64
 14  premis_desc     331439 non-null  object
 15  weapon_used_cd  108155 non-null  float64
 16  weapon_desc     108155 non-null  object
 17  status          331646 non-null  object
 18  status_desc     331647 non-null  object
 19  crm_cd_1        331645 non-null  float64
 20  crm_cd_2        22977 non-null   float64
 21  crm_cd_3        770 non-null     float64
 22  crm_cd_4        19 non-null      float64
 23  location        331647 non-null  object
 24  cross_street    50793 non-null   object
 25  lat             331647 non-null  float64
 26  lon             331647 non-null  float64
 27  year_rptd       331647 non-null  object
 28  month_rptd      331647 non-null  object
 29  day_rptd        331647 non-null  object
 30  year_occ        331647 non-null  object
 31  month_occ       331647 non-null  object
 32  day_occ         331647 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(6), object(17)
memory usage: 86.0+ MB

Generamos una columna calculada con la diferencia de tiempo (en días) entre que se comete el delito y se denuncia

In [477]:
df['time_to_report'] = (df['date_rptd'] - df['date_occ']).dt.days.astype(int)
df.time_to_report.describe()

count    331647.000000
mean         12.069520
std          68.199213
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max        1791.000000
Name: time_to_report, dtype: float64

Generamos una columna para obtener la hora de ocurrencia de los delitos

In [478]:
df["hour_occ"] = df["time_occ"] // 100
df.hour_occ.nunique()

24

Vamos a mapear los códigos de 'vict_descent' con el significado que nos dieron en la información del dataset para que sea mas visual

In [479]:
map_vict_descent = {
    "A": "Asiáticos",
    "B": "Afroamericano",
    "C": "Chino",
    "D": "Camboyano",
    "F": "Filipino",
    "G": "Guamés",
    "H": "Hispano",
    "I": "Indio_Americano",
    "J": "Japonés",
    "K": "Coreano",
    "L": "Laosiano",
    "O": "Otro",
    "P": "Isleño_del_Pacífico",
    "S": "Samoano",
    "U": "Hawaiano",
    "V": "Vietnamita",
    "W": "Blanco",
    "X": "Desconocido",
    "Z": "Hindú_Asiático"
}

df["vict_descent"] = df["vict_descent"].map(map_vict_descent)
df.head()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,time_to_report,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
200114944,2020-07-17,2020-07-16,1400,1,Central,111,1,330,BURGLARY FROM VEHICLE,1307 1822 0329 0352 1609 0344,27,F,Afroamericano,103.0,ALLEY,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 BAMBOO LN,NaN,34.0658,-118.2366,2020,07,17,2020,07,16,1,14
202007973,2020-03-27,2020-03-26,1400,20,Olympic,2002,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,500 N GRAMERCY PL,NaN,34.0803,-118.3125,2020,03,27,2020,03,26,1,14
202114730,2020-10-11,2020-10-11,1956,21,Topanga,2136,2,624,BATTERY - SIMPLE ASSAULT,0400,36,F,Hispano,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,7300 MILWOOD AV,NaN,34.2029,-118.5943,2020,10,11,2020,10,11,0,19
210704099,2021-01-04,2020-12-23,1800,7,Wilshire,711,1,330,BURGLARY FROM VEHICLE,0344 1601,51,M,Otro,101.0,STREET,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 N ORLANDO AV,NaN,34.0781,-118.3732,2021,01,04,2020,12,23,12,18
200511531,2020-07-07,2020-06-29,2000,5,Harbor,529,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344,66,M,Blanco,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,1500 ANCHORAGE RD,NaN,33.7672,-118.2414,2020,07,07,2020,06,29,8,20

In [480]:
df["vict_descent"].unique()

array(['Afroamericano', nan, 'Hispano', 'Otro', 'Blanco', 'Desconocido',
       'Asiáticos', 'Coreano', 'Filipino', 'Camboyano', 'Japonés',
       'Chino', 'Hawaiano', 'Vietnamita', 'Hindú_Asiático', 'Guamés',
       'Isleño_del_Pacífico', 'Laosiano', 'Indio_Americano', 'Samoano'],
      dtype=object)

Cambiamos el formato de ciertas columnas para que nos sirvan para hacer los análisis

Nota. En el EDA hemos detectado que necesitamos dejar 'crm_cd_1' y 'crm_cd_2' como float hasta hacer las transformaciones necesarias y después lo pasaremos a category

In [481]:
#Cambiar formatos manualmente
df = df.astype({'part_1_2':'category',
                'rpt_dist_no':'object',
                #'crm_cd_1':'category',
                #'crm_cd_2':'category',
                'crm_cd_3':'category',
                'crm_cd_4':'category',
                'crm_cd':'category',
                'area':'category',
                'weapon_used_cd':'category',
                'premis_cd':'category',
                'year_rptd':'object',
                'month_rptd':'object',
                'day_rptd':'object',
                'year_occ':'object',
                'year_occ':'object',
                'year_occ':'object',
                'hour_occ':'object'
                })

In [482]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331647 entries, 200114944 to 240710787
Data columns (total 35 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date_rptd       331647 non-null  datetime64[ns]
 1   date_occ        331647 non-null  datetime64[ns]
 2   time_occ        331647 non-null  int64
 3   area            331647 non-null  category
 4   area_name       331647 non-null  object
 5   rpt_dist_no     331647 non-null  object
 6   part_1_2        331647 non-null  category
 7   crm_cd          331647 non-null  category
 8   crm_cd_desc     331647 non-null  object
 9   mocodes         281591 non-null  object
 10  vict_age        331647 non-null  int64
 11  vict_sex        283925 non-null  object
 12  vict_descent    283922 non-null  object
 13  premis_cd       331638 non-null  category
 14  premis_desc     331439 non-null  object
 15  weapon_used_cd  108155 non-null  category
 16  weapon_desc     108155 non-null  object
 17  status          331646 non-null  object
 18  status_desc     331647 non-null  object
 19  crm_cd_1        331645 non-null  float64
 20  crm_cd_2        22977 non-null   float64
 21  crm_cd_3        770 non-null     category
 22  crm_cd_4        19 non-null      category
 23  location        331647 non-null  object
 24  cross_street    50793 non-null   object
 25  lat             331647 non-null  float64
 26  lon             331647 non-null  float64
 27  year_rptd       331647 non-null  object
 28  month_rptd      331647 non-null  object
 29  day_rptd        331647 non-null  object
 30  year_occ        331647 non-null  object
 31  month_occ       331647 non-null  object
 32  day_occ         331647 non-null  object
 33  time_to_report  331647 non-null  int64
 34  hour_occ        331647 non-null  object
dtypes: category(7), datetime64[ns](2), float64(4), int64(3), object(19)
memory usage: 76.2+ MB

Camabiamos la posición de las columnas para una visualización mas cómoda

In [483]:
#Sacamos una lista de todas las columnas
list(df.columns)

['date_rptd',
 'date_occ',
 'time_occ',
 'area',
 'area_name',
 'rpt_dist_no',
 'part_1_2',
 'crm_cd',
 'crm_cd_desc',
 'mocodes',
 'vict_age',
 'vict_sex',
 'vict_descent',
 'premis_cd',
 'premis_desc',
 'weapon_used_cd',
 'weapon_desc',
 'status',
 'status_desc',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'crm_cd_4',
 'location',
 'cross_street',
 'lat',
 'lon',
 'year_rptd',
 'month_rptd',
 'day_rptd',
 'year_occ',
 'month_occ',
 'day_occ',
 'time_to_report',
 'hour_occ']

In [484]:
#Extraemos las columnas que queremos modificar y las ponemos en el orden que queremos que aparezcan
reorden = ['date_rptd','date_occ','time_to_report']

#Hacemos una lista con el resto de columnas 
resto = df.drop(columns = reorden).columns.to_list()
resto

#Agregamos ambas listas
orden = reorden + resto

df = df[orden]
df.head(5)

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
200114944,2020-07-17,2020-07-16,1,1400,1,Central,111,1,330,BURGLARY FROM VEHICLE,1307 1822 0329 0352 1609 0344,27,F,Afroamericano,103.0,ALLEY,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 BAMBOO LN,NaN,34.0658,-118.2366,2020,07,17,2020,07,16,14
202007973,2020-03-27,2020-03-26,1,1400,20,Olympic,2002,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,500 N GRAMERCY PL,NaN,34.0803,-118.3125,2020,03,27,2020,03,26,14
202114730,2020-10-11,2020-10-11,0,1956,21,Topanga,2136,2,624,BATTERY - SIMPLE ASSAULT,0400,36,F,Hispano,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,7300 MILWOOD AV,NaN,34.2029,-118.5943,2020,10,11,2020,10,11,19
210704099,2021-01-04,2020-12-23,12,1800,7,Wilshire,711,1,330,BURGLARY FROM VEHICLE,0344 1601,51,M,Otro,101.0,STREET,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,400 N ORLANDO AV,NaN,34.0781,-118.3732,2021,01,04,2020,12,23,18
200511531,2020-07-07,2020-06-29,8,2000,5,Harbor,529,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344,66,M,Blanco,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,1500 ANCHORAGE RD,NaN,33.7672,-118.2414,2020,07,07,2020,06,29,20

### DUPLICADOS

Comprobamos si hay duplicados y hacemos comparaciones para asegurarnos

In [485]:
duplicados = df.duplicated().sum()
print(f'Recuento de duplicados en df: ', duplicados)

Recuento de duplicados en df:  383

Nos salen que hay duplicados de las 27 columnas y que solamente es diferente el índice. Hacemos unas visualizaciones para comprobar que son realmente duplicados y vemos que es cierto, por lo que borramos todos los duplicados

In [486]:
lineas_original = len(df)
lineas_original

331647

In [487]:
df.loc[df.duplicated()].head(2)

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
201612241,2020-08-21,2020-08-21,0,1730,16,Foothill,1659,1,231,ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER,0447 1212 1822,0,M,Blanco,101.0,STREET,306.0,ROCK/THROWN OBJECT,IC,Invest Cont,231.0,NaN,NaN,NaN,FOOTHILL BL,LOWELL AV,34.2407,-118.2661,2020,08,21,2020,08,21,17
210604716,2021-01-20,2020-12-02,49,1200,6,Hollywood,663,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1100 N SYCAMORE AV,NaN,34.0907,-118.3428,2021,01,20,2020,12,02,12

In [488]:
# Buscamos una en concreto por hacer la comprobación
df.loc[(df.mocodes == '0421 1528 1822 0903 2053')]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
220706179,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,F,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12
220706174,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,F,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12
220706177,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,F,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12
220706176,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,F,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12
220706171,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,M,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12

Eliminamos los duplicados

In [489]:
df.drop_duplicates(inplace=True)

In [490]:
lineas_despues = len(df)

diff = lineas_original - lineas_despues

print("Filas antes:", lineas_original)
print("Filas después:", lineas_despues)
print("Diferencia:", diff)

Filas antes: 331647
Filas después: 331264
Diferencia: 383

### VALORES ÚNICOS

Comprobamos los valores únicos en la tabla para desestimar variables. En este caso, no hay constantes

In [491]:
df.nunique().sort_values(ascending=True)

# Si hubiera alguna columna que eliminar haríamos df.drop(columns = '...', inplace=True)

part_1_2               2
crm_cd_4               2
vict_sex               4
status_desc            6
year_occ               6
status                 6
year_rptd              6
month_rptd            12
month_occ             12
vict_descent          19
area_name             21
area                  21
hour_occ              24
crm_cd_3              24
day_rptd              31
day_occ               31
weapon_used_cd        78
weapon_desc           78
vict_age             104
crm_cd_2             105
crm_cd_desc          138
crm_cd               138
crm_cd_1             139
premis_desc          300
premis_cd            307
rpt_dist_no         1162
time_to_report      1164
time_occ            1439
date_occ            1853
date_rptd           1868
lon                 4872
lat                 5172
cross_street        6589
location           50614
mocodes           117534
dtype: int64

### VALORES NULOS

Comprobamos los nulos que existen según el tipo de columna: Categórica y numérica

Primero haremos las comprobaciones, después expondré las conclusiones y a continuación realizaré los cambios

In [492]:
df.select_dtypes(include='number').isna().sum().sort_values(ascending=False)

crm_cd_2          308295
crm_cd_1               2
time_to_report         0
vict_age               0
time_occ               0
lat                    0
lon                    0
dtype: int64

In [493]:
df.select_dtypes(exclude='number').isna().sum().sort_values(ascending=False)

crm_cd_4          331245
crm_cd_3          330494
cross_street      280530
weapon_used_cd    223236
weapon_desc       223236
mocodes            49901
vict_descent       47573
vict_sex           47570
premis_desc          208
premis_cd              9
status                 1
area_name              0
rpt_dist_no            0
part_1_2               0
crm_cd                 0
crm_cd_desc            0
date_rptd              0
date_occ               0
area                   0
status_desc            0
location               0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

In [494]:
df.vict_descent.unique()

array(['Afroamericano', nan, 'Hispano', 'Otro', 'Blanco', 'Desconocido',
       'Asiáticos', 'Coreano', 'Filipino', 'Camboyano', 'Japonés',
       'Chino', 'Hawaiano', 'Vietnamita', 'Hindú_Asiático', 'Guamés',
       'Isleño_del_Pacífico', 'Laosiano', 'Indio_Americano', 'Samoano'],
      dtype=object)

In [495]:
df[['vict_descent']].value_counts()

vict_descent
Hispano                97498
Blanco                 66350
Afroamericano          44800
Desconocido            35385
Otro                   25696
Asiáticos               7088
Coreano                 2025
Filipino                1629
Chino                   1534
Japonés                  534
Vietnamita               393
Indio_Americano          334
Hindú_Asiático           167
Isleño_del_Pacífico       91
Hawaiano                  63
Camboyano                 29
Guamés                    28
Samoano                   25
Laosiano                  22
Name: count, dtype: int64

In [496]:
df.vict_sex.unique()

array(['F', nan, 'M', 'X', 'H'], dtype=object)

In [497]:
df.loc[df.vict_sex=='-']

Empty DataFrame
Columns: [date_rptd, date_occ, time_to_report, time_occ, area, area_name, rpt_dist_no, part_1_2, crm_cd, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_cd, premis_desc, weapon_used_cd, weapon_desc, status, status_desc, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, location, cross_street, lat, lon, year_rptd, month_rptd, day_rptd, year_occ, month_occ, day_occ, hour_occ]
Index: []

In [498]:
df.loc[(df.premis_cd.notna())&(df.premis_desc.isna())].premis_cd.value_counts()

premis_cd
418.0    130
256.0     59
972.0      7
976.0      1
973.0      1
        ...
155.0      0
156.0      0
157.0      0
158.0      0
109.0      0
Name: count, Length: 307, dtype: int64

In [499]:
df.loc[(df.crm_cd_1.isna())]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230123939,2023-11-13,2023-11-12,1,2300,1,Central,162,1,330,BURGLARY FROM VEHICLE,0344 1307,47,M,Afroamericano,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,NaN,330.0,NaN,NaN,800 S HILL ST,NaN,34.0462,-118.2585,2023,11,13,2023,11,12,23
230114706,2023-06-22,2023-06-22,0,1550,1,Central,155,2,623,BATTERY POLICE (SIMPLE),1212 0917 0447 2004,0,M,Hispano,726.0,POLICE FACILITY,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,NaN,623.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,2023,06,22,2023,06,22,15

In [500]:
df.loc[(df.status.isna())]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
241810568,2024-06-08,2024-05-24,15,1900,18,Southeast,1871,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNK,510.0,NaN,NaN,NaN,13500 S FIGUEROA ST,NaN,33.9092,-118.2827,2024,06,08,2024,05,24,19

In [501]:
df.loc[(df.crm_cd_1 == 510.0)]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
202007973,2020-03-27,2020-03-26,1,1400,20,Olympic,2002,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,500 N GRAMERCY PL,NaN,34.0803,-118.3125,2020,03,27,2020,03,26,14
201821224,2020-11-27,2020-11-25,2,545,18,Southeast,1802,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 W 92ND ST,NaN,33.9528,-118.2757,2020,11,27,2020,11,25,5
201809710,2020-04-17,2020-04-17,0,640,18,Southeast,1832,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,CENTRAL,104TH ST,33.9401,-118.2761,2020,04,17,2020,04,17,6
201821561,2020-12-03,2020-11-30,3,700,18,Southeast,1842,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,111TH ST,MAIN ST,33.9348,-118.2739,2020,12,03,2020,11,30,7
201117133,2020-12-31,2020-12-29,2,1400,11,Northeast,1118,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,5600 IRVINGTON PL,NaN,34.1152,-118.1962,2020,12,31,2020,12,29,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241611900,2024-12-15,2024-12-15,0,300,16,Foothill,1601,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,12800 EUSTACE ST,NaN,34.2861,-118.4120,2024,12,15,2024,12,15,3
240909998,2024-06-26,2024-06-24,2,1600,9,Van Nuys,914,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510,2024,06,26,2024,06,24,16
240305327,2024-01-26,2024-01-26,0,100,3,Southwest,332,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,2800 HILLCREST DR,NaN,34.0311,-118.3429,2024,01,26,2024,01,26,1
241509240,2024-04-19,2024-04-18,1,130,15,N Hollywood,1502,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,7700 GOODLAND AV,NaN,34.2103,-118.4124,2024,04,19,2024,04,18,1
240710787,2024-08-18,2024-08-17,1,1900,7,Wilshire,765,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1200 S TREMAINE AV,NaN,34.0531,-118.3391,2024,08,18,2024,08,17,19

## 5. GUARDADO DE RESULTADOS

In [502]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

In [503]:
ruta_trabajo = ruta_principal + carpeta + 'trabajo_resultado_calidad.pickle'

Guardar los archivos

In [504]:
df.to_pickle(ruta_trabajo)