<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-operations-with-dataframes" data-toc-modified-id="Basic-operations-with-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic operations with dataframes</a></span><ul class="toc-item"><li><span><a href="#Select:-column" data-toc-modified-id="Select:-column-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Select: column</a></span></li><li><span><a href="#Select:-subset" data-toc-modified-id="Select:-subset-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Select: subset</a></span></li><li><span><a href="#Get-the-unique-values-‚Äã‚Äãof-a-column" data-toc-modified-id="Get-the-unique-values-‚Äã‚Äãof-a-column-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Get the unique values ‚Äã‚Äãof a column</a></span></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#by-the-value-of-the-columns" data-toc-modified-id="by-the-value-of-the-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>by the value of the columns</a></span></li><li><span><a href="#df.loc-&amp;-df.iloc" data-toc-modified-id="df.loc-&amp;-df.iloc-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>df.loc &amp; df.iloc</a></span><ul class="toc-item"><li><span><a href="#Based-on-label:-loc" data-toc-modified-id="Based-on-label:-loc-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Based on label: <code>loc</code></a></span></li><li><span><a href="#Based-on-index:--iloc" data-toc-modified-id="Based-on-index:--iloc-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Based on index:  <code>iloc</code></a></span></li></ul></li><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Rename columns</a></span><ul class="toc-item"><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Rename columns</a></span></li></ul></li><li><span><a href="#Change-the-data-type-of-a-column" data-toc-modified-id="Change-the-data-type-of-a-column-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Change the data type of a column</a></span></li><li><span><a href="#Copy-a-dataframe" data-toc-modified-id="Copy-a-dataframe-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Copy a dataframe</a></span></li></ul></li><li><span><a href="#deleting" data-toc-modified-id="deleting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>deleting</a></span><ul class="toc-item"><li><span><a href="#delete-columns" data-toc-modified-id="delete-columns-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>delete columns</a></span></li><li><span><a href="#delete-rows" data-toc-modified-id="delete-rows-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>delete rows</a></span></li></ul></li><li><span><a href="#working-with-the-index" data-toc-modified-id="working-with-the-index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>working with the index</a></span></li><li><span><a href="#Operations-between-columns" data-toc-modified-id="Operations-between-columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Operations between columns</a></span><ul class="toc-item"><li><span><a href="#creating-columns" data-toc-modified-id="creating-columns-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>creating columns</a></span></li><li><span><a href="#apply:-mapping-a-function-to-columns-/-rows" data-toc-modified-id="apply:-mapping-a-function-to-columns-/-rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>apply: mapping a function to columns / rows</a></span></li></ul></li><li><span><a href="#Deleting-the-duplicates" data-toc-modified-id="Deleting-the-duplicates-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Deleting the duplicates</a></span></li><li><span><a href="#Null-values" data-toc-modified-id="Null-values-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#It-is-null?" data-toc-modified-id="It-is-null?-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>It is null?</a></span></li><li><span><a href="#Is-NOT-null?" data-toc-modified-id="Is-NOT-null?-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Is NOT null?</a></span></li><li><span><a href="#Sum-the-null-values-‚Äã‚Äãof-each-column" data-toc-modified-id="Sum-the-null-values-‚Äã‚Äãof-each-column-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Sum the null values ‚Äã‚Äãof each column</a></span></li></ul></li><li><span><a href="#delete-null-values" data-toc-modified-id="delete-null-values-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>delete null values</a></span></li><li><span><a href="#How-to-fill-in-the-missing-data" data-toc-modified-id="How-to-fill-in-the-missing-data-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>How to fill in the missing data</a></span></li></ul></li><li><span><a href="#Export-data" data-toc-modified-id="Export-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Export data</a></span></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Further materials</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

In [4]:
import pandas as pd
import numpy as np

## Operaciones b√°sicas con DataFrame

### Seleccionar: columna

### Seleccionar: subconjunto

### Obtener los valores √∫nicos de una columna

`df.column.unique()`

`df.column.value_counts()`

## Filtrado

### por el valor de las columnas

`cuidado con el s√≠mbolo |`

### df.loc y df.iloc

`df.iloc[filas, columnas]`

#### Basado en la etiqueta: `loc`

El m√©todo loc se puede utilizar de dos maneras diferentes: seleccionar filas o columnas seg√∫n una etiqueta, o seleccionar filas o columnas seg√∫n una condici√≥n.

#### Basado en el √≠ndice: `iloc`

El m√©todo iloc se utiliza en DataFrames para seleccionar elementos en funci√≥n de su ubicaci√≥n. Su sintaxis es data.iloc[<filas>, <columnas>], donde <filas> y <columnas> son la posici√≥n de las filas y columnas que se quieren seleccionar en el orden en el que aparecen en el objeto. Una notaci√≥n familiar para los usuarios de Matlab. En un DataFrame, cada una de las filas tiene un n√∫mero que va desde 0 hasta el n√∫mero total de filas menos uno. Siendo iloc el m√©todo que permite seleccionar los datos en funci√≥n de estos n√∫meros. Lo mismo aplica para las columnas.

En iloc hay dos argumentos filas y columnas. En caso de omitir el segundo, se seleccionar√°n todas las columnas de la fila. Por lo que para seleccionar diferentes filas se pueden utilizar.

Sintaxis loc con m√∫ltiples condiciones
```python
df.loc[(df["column"] condition) & (df["column"] condition)]
````

### Cambiar el nombre de las columnas

#### Cambiar el nombre de las columnas

`.rename(dict_)`

El m√©todo de cambio de nombre me permite cambiar el nombre solo de las columnas que quiero, las que est√°n en el diccionario. No es necesario cambiar el nombre de todas a la vez.

`sobrescribir atributos`: requiere una lista con el mismo n√∫mero de columnas

### Cambiar el tipo de datos de una columna

### Copiar un DataFrame

## Deleting

### Eliminar columnas

### Eliminar filas

Tambi√©n se pueden eliminar filas. Tenga en cuenta que los √≠ndices no se restablecen. El √≠ndice est√° asociado con la fila, no con el orden.
¬øSe puede reiniciar el √≠ndice? Correcto

## trabajando con el √≠ndice

Leemos la [documentaci√≥n](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) para comprender algunos par√°metros

`establecer_√≠ndice`

`restablecer_√≠ndice`

## Operaciones entre columnas

### creando columnas

`como resultado de una operaci√≥n entre otras columnas`

### `apply`: mapear una funci√≥n a columnas/filas

`aplicar a una pd.Series`

Aplica una funci√≥n a lo largo de un eje del DataFrame.
[Lea la documentaci√≥n](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

Cuando hago un apply sobre una columna, aunque uso un lambda, no pongo axis porque en el caso de abajo lo que estoy haciendo es modificar una columna, uso lambda para decirle al apply que el primer argumento es un string que viene de afuera y el segundo argumento es el propio registro del dataframe.

`aplicar a un df`: vigilar el eje arg

`Lambda y funci√≥n definida`

`pasa dos argumentos`: uno de la columna, otro m√≠o

## Eliminar los duplicados

[Lea la documentaci√≥n](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

`duplicated()`

`drop_duplicates()`

`keep`: Falso, primero/√∫ltimo

```python
for index, row en df.iterrows():
print(row['T1'], row['T2'],row['T3'])
```

## Valores nulos

#### ¬øEs nulo?

`pd.isna()` == `pd.isnull()`

#### ¬øNO es nulo?

#### Suma los valores nulos de cada columna

### eliminar valores nulos
Hay varias formas de hacer esto, tenemos en cuenta el par√°metro `how` y por supuesto [la documentaci√≥n](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

`Eliminar valores faltantes cuando todos son valores faltantes`

`Eliminar valores faltantes donde haya ALGUNO`

`how`: any

Con "any" (par√°metro que viene por defecto as√≠ que cuidado de no poner nada) se borran todos los registros en los que haya un NaN en alguna columna

`how`: all

`thresh`: int

### C√≥mo completar los datos faltantes

`fillna()`

## Exportar datos

`to_csv`

`to_json`

**RECORDATORIO:** `inplace=True` si es para que el m√©todo modifique el DF, de lo contrario deber√° guardarlo en una nueva variable.

# EJERCICIO üìù

In [ ]:
#¬†ESTAMOS CON: ejercicio de encapsulaci√≥n de ayer antes de irnos
    #¬†encapsular funci√≥n para que genere "reporte" para X cliente

1. **LEA** el conjunto de datos superstore.csv desde la carpeta de conjuntos de datos

2. **RENOMBRAR** las columnas: convertirlas en min√∫sculas Y sustituir los espacios por guiones intermedios. Por ejemplo: `Order ID` -> `order_id`

3. **ELIMINAR** la columna `ID de fila`

4. **FILTRA** el conjunto de datos donde se encuentra el cliente: `Roy Franz√∂sisch`

5. **CREAR un SUBCONJUNTO** del DataFrame con las columnas: `Modo de env√≠o`, `Segmento`, `Pa√≠s`, `Categor√≠a`, `Ganancias`

6. **CALCULAR** la SUMA de la ganancia: debe ser un print() formateado que diga `Roy Franz√∂sisch obtuvo una ganancia total de X $`

7. **DEFINE** (ENCAPSULA) en una FUNCI√ìN
- Nombre de la funci√≥n: profit_per_customer
- Argumentos de la funci√≥n: name, string. el nombre del cliente por el que se filtrar√°
- para hacer esto, deber√° cambiar la l√≠nea donde filtra para cambiar el literal "Roy Franz√∂sisch" por name
- c√°mbielo tambi√©n en la impresi√≥n formateada
- La funci√≥n debe realizar los pasos: 1-8
- incluir la l√≠nea: `df_imported = pd.read_csv("customer_example.csv")`
- Retorno de la funci√≥n: debe devolver `df_imported`

8. **LLAMADA**: `df_claire = beneficio_per_cliente("Roy Franz√∂sisch")`

9. **Reutiliza tu propia funci√≥n**: ¬øcu√°nto gan√≥ ¬´Erica Smith¬ª? Aseg√∫rate de guardarla en una variable llamada ¬´df_erica_smith¬ª

10. **EXPORTAR** el csv con el nombre: `customer_example.csv`

## M√©todos habituales de Pandas
```python
df.head() # imprime la cabecera, por defecto 5 filas
df.tail() # establece la cola, por defecto 5 filas
df.describe() # descripci√≥n estad√≠stica
df.info() # informaci√≥n del df
df.columns # muestra la columna
df.index # muestra el √≠ndice
df.dtypes # muestra los tipos de datos de la columna
df.plot() # hace un gr√°fico
df.hist() # hace un histograma
df.col.value_counts() # cuenta los valores √∫nicos de una columna
df.col.unique() # devuelve valores √∫nicos de una columna
df.copy() # copia el df
df.drop() # elimina columnas o filas (axis=0,1)
df.dropna() # elimina nulos
df.fillna() # rellena nulos
df.shape # dimensiones del df
df._get_numeric_data() # selecciona num√©rico columnas
df.rename() # renombrar columnas
df.str.replace() # reemplazar columnas de cadenas
df.astype(dtype='float32') # cambiar el tipo de datos
df.iloc[] # localizar por √≠ndice
df.loc[] # localizar por elemento
df.transpose() # transpone el df
df.T
df.sample(n, frac) # muestra de df
df.col.sum() # suma de una columna
df.col.max() # m√°ximo de una columna
df.col.min() # m√≠nimo de una columna
df[col] # seleccionar columna
df.col
df.isnull() # valores nulos
df.isna()
df.notna() # valores no nulos
df.drop_duplicates() # eliminar duplicados
df.reset_index(inplace=True) # restablecer el √≠ndice y sobrescribir
```
## Materiales adicionales

* [Lea el docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Hoja de trucos](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Ejercicios para practicar](https://github.com/guipsamora/pandas_exercises)
* [M√°s sobre merge, concat y join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). ¬°Y [a√∫n m√°s!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
* [Categor√≠as en df](https://runebook.dev/en/docs/pandas/user_guide/categorical)