<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-operations-with-dataframes" data-toc-modified-id="Basic-operations-with-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic operations with dataframes</a></span><ul class="toc-item"><li><span><a href="#Select:-column" data-toc-modified-id="Select:-column-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Select: column</a></span></li><li><span><a href="#Select:-subset" data-toc-modified-id="Select:-subset-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Select: subset</a></span></li><li><span><a href="#Get-the-unique-values-​​of-a-column" data-toc-modified-id="Get-the-unique-values-​​of-a-column-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Get the unique values ​​of a column</a></span></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#by-the-value-of-the-columns" data-toc-modified-id="by-the-value-of-the-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>by the value of the columns</a></span></li><li><span><a href="#df.loc-&amp;-df.iloc" data-toc-modified-id="df.loc-&amp;-df.iloc-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>df.loc &amp; df.iloc</a></span><ul class="toc-item"><li><span><a href="#Based-on-label:-loc" data-toc-modified-id="Based-on-label:-loc-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Based on label: <code>loc</code></a></span></li><li><span><a href="#Based-on-index:--iloc" data-toc-modified-id="Based-on-index:--iloc-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Based on index:  <code>iloc</code></a></span></li></ul></li><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Rename columns</a></span><ul class="toc-item"><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Rename columns</a></span></li></ul></li><li><span><a href="#Change-the-data-type-of-a-column" data-toc-modified-id="Change-the-data-type-of-a-column-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Change the data type of a column</a></span></li><li><span><a href="#Copy-a-dataframe" data-toc-modified-id="Copy-a-dataframe-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Copy a dataframe</a></span></li></ul></li><li><span><a href="#deleting" data-toc-modified-id="deleting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>deleting</a></span><ul class="toc-item"><li><span><a href="#delete-columns" data-toc-modified-id="delete-columns-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>delete columns</a></span></li><li><span><a href="#delete-rows" data-toc-modified-id="delete-rows-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>delete rows</a></span></li></ul></li><li><span><a href="#working-with-the-index" data-toc-modified-id="working-with-the-index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>working with the index</a></span></li><li><span><a href="#Operations-between-columns" data-toc-modified-id="Operations-between-columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Operations between columns</a></span><ul class="toc-item"><li><span><a href="#creating-columns" data-toc-modified-id="creating-columns-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>creating columns</a></span></li><li><span><a href="#apply:-mapping-a-function-to-columns-/-rows" data-toc-modified-id="apply:-mapping-a-function-to-columns-/-rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>apply: mapping a function to columns / rows</a></span></li></ul></li><li><span><a href="#Deleting-the-duplicates" data-toc-modified-id="Deleting-the-duplicates-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Deleting the duplicates</a></span></li><li><span><a href="#Null-values" data-toc-modified-id="Null-values-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#It-is-null?" data-toc-modified-id="It-is-null?-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>It is null?</a></span></li><li><span><a href="#Is-NOT-null?" data-toc-modified-id="Is-NOT-null?-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Is NOT null?</a></span></li><li><span><a href="#Sum-the-null-values-​​of-each-column" data-toc-modified-id="Sum-the-null-values-​​of-each-column-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Sum the null values ​​of each column</a></span></li></ul></li><li><span><a href="#delete-null-values" data-toc-modified-id="delete-null-values-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>delete null values</a></span></li><li><span><a href="#How-to-fill-in-the-missing-data" data-toc-modified-id="How-to-fill-in-the-missing-data-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>How to fill in the missing data</a></span></li></ul></li><li><span><a href="#Export-data" data-toc-modified-id="Export-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Export data</a></span></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Further materials</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

## Operaciones básicas con DataFrame

### Seleccionar: columna

In [5]:
df_csv = pd.read_csv('../datasets/employees.csv')
df_csv

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [9]:
df_csv['Age']

df_csv.Age

0       41
1       49
2       37
3       33
4       27
        ..
1465    36
1466    39
1467    27
1468    49
1469    34
Name: Age, Length: 1470, dtype: int64

### Seleccionar: subconjunto

In [ ]:
df_csv[['Age', 'Attrition']]

      Age Attrition
0      41       Yes
1      49        No
2      37       Yes
3      33        No
4      27        No
...   ...       ...
1465   36        No
1466   39        No
1467   27        No
1468   49        No
1469   34        No

[1470 rows x 2 columns]

### Obtener los valores únicos de una columna

`df.column.unique()`

In [11]:
df_csv.Age.unique()

array([41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 29, 31, 34, 28, 22, 53,
       24, 21, 42, 44, 46, 39, 43, 50, 26, 48, 55, 45, 56, 23, 51, 40, 54,
       58, 20, 25, 19, 57, 52, 47, 18, 60])

`df.column.value_counts()`

In [12]:
df_csv.Age.value_counts()

Age
35    78
34    77
36    69
31    69
29    68
32    61
30    60
33    58
38    58
40    57
37    50
27    48
28    48
42    46
39    42
45    41
41    40
26    39
44    33
46    33
43    32
50    30
25    26
24    26
49    24
47    24
55    22
51    19
53    19
48    19
54    18
52    18
22    16
56    14
23    14
58    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: count, dtype: int64

## Filtrado

### por el valor de las columnas

In [15]:
df_csv[df_csv['BusinessTravel']=='Travel_Rarely']

df_csv[df_csv['Age']<30]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3

`cuidado con el símbolo |`

In [18]:
df_csv[(df_csv['BusinessTravel']=='Travel_Rarely') | (df_csv['Age']<30)]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

### df.loc y df.iloc

In [20]:
fila_0 = df_csv.loc[0]  # toda la fila con índice 0
print(fila_0)

subconjunto = df_csv.loc[0:4, ['Age', 'Department', 'Attrition']]  
print(subconjunto)

Age                                      41
Attrition                               Yes
BusinessTravel                Travel_Rarely
DailyRate                              1102
Department                            Sales
DistanceFromHome                          1
Education                                 2
EducationField                Life Sciences
EmployeeCount                             1
EmployeeNumber                            1
EnvironmentSatisfaction                   2
Gender                               Female
HourlyRate                               94
JobInvolvement                            3
JobLevel                                  2
JobRole                     Sales Executive
JobSatisfaction                           4
MaritalStatus                        Single
MonthlyIncome                          5993
MonthlyRate                           19479
NumCompaniesWorked                        8
Over18                                    Y
OverTime                                Yes
PercentSalaryHike                        11
PerformanceRating                         3
RelationshipSatisfaction                  1
StandardHours                            80
StockOptionLevel                          0
TotalWorkingYears                         8
TrainingTimesLastYear                     0
WorkLifeBalance                           1
YearsAtCompany                            6
YearsInCurrentRole                        4
YearsSinceLastPromotion                   0
YearsWithCurrManager                      5
Name: 0, dtype: object
   Age              Department Attrition
0   41                   Sales       Yes
1   49  Research & Development        No
2   37  Research & Development       Yes
3   33  Research & Development        No
4   27  Research & Development        No

`df.iloc[filas, columnas]`

In [21]:
# Seleccionar la primera fila
fila_0 = df_csv.iloc[0]
print(fila_0)

# Seleccionar primeras 5 filas y columnas 0, 4 y 1
subconjunto = df_csv.iloc[0:5, [0, 4, 1]]  
print(subconjunto)

# Seleccionar un rango de filas y todas las columnas
filas = df_csv.iloc[0:10, :]  # filas 0 a 9, todas las columnas
print(filas)

Age                                      41
Attrition                               Yes
BusinessTravel                Travel_Rarely
DailyRate                              1102
Department                            Sales
DistanceFromHome                          1
Education                                 2
EducationField                Life Sciences
EmployeeCount                             1
EmployeeNumber                            1
EnvironmentSatisfaction                   2
Gender                               Female
HourlyRate                               94
JobInvolvement                            3
JobLevel                                  2
JobRole                     Sales Executive
JobSatisfaction                           4
MaritalStatus                        Single
MonthlyIncome                          5993
MonthlyRate                           19479
NumCompaniesWorked                        8
Over18                                    Y
OverTime                                Yes
PercentSalaryHike                        11
PerformanceRating                         3
RelationshipSatisfaction                  1
StandardHours                            80
StockOptionLevel                          0
TotalWorkingYears                         8
TrainingTimesLastYear                     0
WorkLifeBalance                           1
YearsAtCompany                            6
YearsInCurrentRole                        4
YearsSinceLastPromotion                   0
YearsWithCurrManager                      5
Name: 0, dtype: object
   Age              Department Attrition
0   41                   Sales       Yes
1   49  Research & Development        No
2   37  Research & Development       Yes
3   33  Research & Development        No
4   27  Research & Development        No
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development
5   32        No  Travel_Frequently       1005  Research & Development
6   59        No      Travel_Rarely       1324  Research & Development
7   30        No      Travel_Rarely       1358  Research & Development
8   38        No  Travel_Frequently        216  Research & Development
9   36        No      Travel_Rarely       1299  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7
5                 2          2  Life Sciences              1               8
6                 3          3        Medical              1              10
7                24          1  Life Sciences              1              11
8                23          3  Life Sciences              1              12
9                27          3        Medical              1              13

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1
5  ...                         3            80                 0
6  ...                         1            80                 3
7  ...                         2            80                 1
8  ...                         2            80                 0
9  ...                         2            80                 2

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2
5                  8                      2               2               7
6                 12                      3               2               1
7                  1                      2               3               1
8                 10                      2               3               9
9                 17                      3               2               7

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2
5                  7                        3                     6
6                  0                        0                     0
7                  0                        0                     0
8                  7                        1                     8
9                  7                        7                     7

[10 rows x 35 columns]

#### Basado en la etiqueta: `loc`

El método loc se puede utilizar de dos maneras diferentes: seleccionar filas o columnas según una etiqueta, o seleccionar filas o columnas según una condición.

#### Basado en el índice: `iloc`

El método iloc se utiliza en DataFrames para seleccionar elementos en función de su ubicación. Su sintaxis es data.iloc[<filas>, <columnas>], donde <filas> y <columnas> son la posición de las filas y columnas que se quieren seleccionar en el orden en el que aparecen en el objeto. Una notación familiar para los usuarios de Matlab. En un DataFrame, cada una de las filas tiene un número que va desde 0 hasta el número total de filas menos uno. Siendo iloc el método que permite seleccionar los datos en función de estos números. Lo mismo aplica para las columnas.

En iloc hay dos argumentos filas y columnas. En caso de omitir el segundo, se seleccionarán todas las columnas de la fila. Por lo que para seleccionar diferentes filas se pueden utilizar.

Sintaxis loc con múltiples condiciones
```python
df.loc[(df["column"] condition) & (df["column"] condition)]
````

### Cambiar el nombre de las columnas

#### Cambiar el nombre de las columnas

`.rename(dict_)`

El método de cambio de nombre me permite cambiar el nombre solo de las columnas que quiero, las que están en el diccionario. No es necesario cambiar el nombre de todas a la vez.

`sobrescribir atributos`: requiere una lista con el mismo número de columnas

### Cambiar el tipo de datos de una columna

### Copiar un DataFrame

## Deleting

### Eliminar columnas

### Eliminar filas

También se pueden eliminar filas. Tenga en cuenta que los índices no se restablecen. El índice está asociado con la fila, no con el orden.
¿Se puede reiniciar el índice? Correcto

## trabajando con el índice

Leemos la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) para comprender algunos parámetros

`establecer_índice`

`restablecer_índice`

## Operaciones entre columnas

### creando columnas

`como resultado de una operación entre otras columnas`

### `apply`: mapear una función a columnas/filas

`aplicar a una pd.Series`

Aplica una función a lo largo de un eje del DataFrame.
[Lea la documentación](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

Cuando hago un apply sobre una columna, aunque uso un lambda, no pongo axis porque en el caso de abajo lo que estoy haciendo es modificar una columna, uso lambda para decirle al apply que el primer argumento es un string que viene de afuera y el segundo argumento es el propio registro del dataframe.

`aplicar a un df`: vigilar el eje arg

`Lambda y función definida`

`pasa dos argumentos`: uno de la columna, otro mío

## Eliminar los duplicados

[Lea la documentación](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

`duplicated()`

`drop_duplicates()`

`keep`: Falso, primero/último

```python
for index, row en df.iterrows():
print(row['T1'], row['T2'],row['T3'])
```

## Valores nulos

#### ¿Es nulo?

`pd.isna()` == `pd.isnull()`

#### ¿NO es nulo?

#### Suma los valores nulos de cada columna

### eliminar valores nulos
Hay varias formas de hacer esto, tenemos en cuenta el parámetro `how` y por supuesto [la documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

`Eliminar valores faltantes cuando todos son valores faltantes`

`Eliminar valores faltantes donde haya ALGUNO`

`how`: any

Con "any" (parámetro que viene por defecto así que cuidado de no poner nada) se borran todos los registros en los que haya un NaN en alguna columna

`how`: all

`thresh`: int

### Cómo completar los datos faltantes

`fillna()`

## Exportar datos

`to_csv`

`to_json`

**RECORDATORIO:** `inplace=True` si es para que el método modifique el DF, de lo contrario deberá guardarlo en una nueva variable.

# EJERCICIO 📝

In [ ]:
# ESTAMOS CON: ejercicio de encapsulación de ayer antes de irnos
    # encapsular función para que genere "reporte" para X cliente

1. **LEA** el conjunto de datos superstore.csv desde la carpeta de conjuntos de datos

2. **RENOMBRAR** las columnas: convertirlas en minúsculas Y sustituir los espacios por guiones intermedios. Por ejemplo: `Order ID` -> `order_id`

3. **ELIMINAR** la columna `ID de fila`

4. **FILTRA** el conjunto de datos donde se encuentra el cliente: `Roy Französisch`

5. **CREAR un SUBCONJUNTO** del DataFrame con las columnas: `Modo de envío`, `Segmento`, `País`, `Categoría`, `Ganancias`

6. **CALCULAR** la SUMA de la ganancia: debe ser un print() formateado que diga `Roy Französisch obtuvo una ganancia total de X $`

7. **DEFINE** (ENCAPSULA) en una FUNCIÓN
- Nombre de la función: profit_per_customer
- Argumentos de la función: name, string. el nombre del cliente por el que se filtrará
- para hacer esto, deberá cambiar la línea donde filtra para cambiar el literal "Roy Französisch" por name
- cámbielo también en la impresión formateada
- La función debe realizar los pasos: 1-8
- incluir la línea: `df_imported = pd.read_csv("customer_example.csv")`
- Retorno de la función: debe devolver `df_imported`

8. **LLAMADA**: `df_claire = beneficio_per_cliente("Roy Französisch")`

9. **Reutiliza tu propia función**: ¿cuánto ganó «Erica Smith»? Asegúrate de guardarla en una variable llamada «df_erica_smith»

10. **EXPORTAR** el csv con el nombre: `customer_example.csv`

## Métodos habituales de Pandas
```python
df.head() # imprime la cabecera, por defecto 5 filas
df.tail() # establece la cola, por defecto 5 filas
df.describe() # descripción estadística
df.info() # información del df
df.columns # muestra la columna
df.index # muestra el índice
df.dtypes # muestra los tipos de datos de la columna
df.plot() # hace un gráfico
df.hist() # hace un histograma
df.col.value_counts() # cuenta los valores únicos de una columna
df.col.unique() # devuelve valores únicos de una columna
df.copy() # copia el df
df.drop() # elimina columnas o filas (axis=0,1)
df.dropna() # elimina nulos
df.fillna() # rellena nulos
df.shape # dimensiones del df
df._get_numeric_data() # selecciona numérico columnas
df.rename() # renombrar columnas
df.str.replace() # reemplazar columnas de cadenas
df.astype(dtype='float32') # cambiar el tipo de datos
df.iloc[] # localizar por índice
df.loc[] # localizar por elemento
df.transpose() # transpone el df
df.T
df.sample(n, frac) # muestra de df
df.col.sum() # suma de una columna
df.col.max() # máximo de una columna
df.col.min() # mínimo de una columna
df[col] # seleccionar columna
df.col
df.isnull() # valores nulos
df.isna()
df.notna() # valores no nulos
df.drop_duplicates() # eliminar duplicados
df.reset_index(inplace=True) # restablecer el índice y sobrescribir
```
## Materiales adicionales

* [Lea el docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Hoja de trucos](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Ejercicios para practicar](https://github.com/guipsamora/pandas_exercises)
* [Más sobre merge, concat y join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). ¡Y [aún más!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
* [Categorías en df](https://runebook.dev/en/docs/pandas/user_guide/categorical)