# CALIDAD DE DATOS

## 1. IMPORTAMOS PAQUETES Y DATOS

In [355]:
import pandas as pd
import zipfile
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
%config IPCompleter.greedy = True
import warnings
warnings.filterwarnings('ignore')

Definimos la ruta donde ubicamos los datasets para no tener que estar poniéndola en cada ocasión

In [356]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '999_data/'

Definimos el dataset que vamos a usar

In [357]:
zip_name = 'Crime_Data_from_2020_to_Present.zip'
csv_filename = 'Crime_Data_from_2020_to_Present.csv'

In [358]:
zip_path = ruta_principal + carpeta + zip_name

Cargamos el dataset df

In [359]:
frac = 0.33
chunksize = 100_000  # ajusta según memoria

rows = []

with zipfile.ZipFile(zip_path) as z:
    with z.open(csv_filename) as f:
        for chunk in pd.read_csv(f, chunksize=chunksize):
            rows.append(chunk.sample(frac=frac))
            
df = pd.concat(rows, ignore_index=True)
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,201812425,06/11/2020 12:00:00 AM,06/07/2020 12:00:00 AM,2300,18,Southeast,1829,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822 1300 0344 1202,66,F,H,108.0,PARKING LOT,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,420.0,NaN,NaN,NaN,2100 E 102ND ST,NaN,33.9439,-118.2346
1,200705197,01/23/2020 12:00:00 AM,01/13/2020 12:00:00 AM,1130,7,Wilshire,777,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0601 0443,53,F,B,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,AO,Adult Other,930.0,NaN,NaN,NaN,1600 WEST BL,NaN,34.0452,-118.3351
2,201912165,07/15/2020 12:00:00 AM,07/14/2020 12:00:00 AM,2200,19,Mission,1985,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,8800 TOBIAS AV,NaN,34.2299,-118.4517
3,201317843,10/02/2020 12:00:00 AM,10/02/2020 12:00:00 AM,1130,13,Newton,1371,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,0913 1813 2000 0408 0448,21,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,236.0,NaN,NaN,NaN,100 W 57TH ST,NaN,33.9906,-118.2745
4,201608441,04/21/2020 12:00:00 AM,04/21/2020 12:00:00 AM,139,16,Foothill,1619,1,648,ARSON,NaN,71,F,X,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,648.0,NaN,NaN,NaN,10700 LAS LUNITAS AV,NaN,34.2629,-118.2913

## 2. COMPROBAMOS LAS CARACTERÍSTICAS DEL DATASET

In [360]:
df.shape

(331647, 28)

Comprobamos que el dataset tiene nulos y nos sirve para trabajar

In [361]:
df.isna().sum().sort_values(ascending=False)

Crm Cd 4          331620
Crm Cd 3          330882
Crm Cd 2          308932
Cross Street      280652
Weapon Used Cd    223784
Weapon Desc       223784
Mocodes            50534
Vict Descent       48264
Vict Sex           48263
Premis Desc          179
Premis Cd              4
Crm Cd 1               3
Vict Age               0
Crm Cd Desc            0
Crm Cd                 0
Part 1-2               0
AREA NAME              0
Rpt Dist No            0
AREA                   0
TIME OCC               0
Date Rptd              0
DATE OCC               0
DR_NO                  0
Status                 0
Status Desc            0
LOCATION               0
LAT                    0
LON                    0
dtype: int64

Comprobamos las dimensiones de la tabla y los valores únicos de DR_NO ya que sospecho que debe ser el índice

In [362]:
dimensiones_df = df.shape
print(f'Dimensiones df: ', dimensiones_df)

Dimensiones df:  (331647, 28)

In [363]:
DR_NO = df.DR_NO.nunique()
print(f'Valores únicos de DR_NO: ', DR_NO)

Valores únicos de DR_NO:  331647

CAMBIOS EN NOMBRES E ÍNDICE: 
- Transformamos a minúsculas los nombres de las columnas
- Ponemos 'dr_no' como index ya que es el identificador del reporte

In [364]:
df.columns = df.columns.str.replace(' ','_').str.lower()
df.columns = df.columns.str.replace('-','_')
df = df.set_index('dr_no')
df

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
201812425,06/11/2020 12:00:00 AM,06/07/2020 12:00:00 AM,2300,18,Southeast,1829,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822 1300 0344 1202,66,F,H,108.0,PARKING LOT,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,420.0,NaN,NaN,NaN,2100 E 102ND ST,NaN,33.9439,-118.2346
200705197,01/23/2020 12:00:00 AM,01/13/2020 12:00:00 AM,1130,7,Wilshire,777,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0601 0443,53,F,B,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,AO,Adult Other,930.0,NaN,NaN,NaN,1600 WEST BL,NaN,34.0452,-118.3351
201912165,07/15/2020 12:00:00 AM,07/14/2020 12:00:00 AM,2200,19,Mission,1985,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,8800 TOBIAS AV,NaN,34.2299,-118.4517
201317843,10/02/2020 12:00:00 AM,10/02/2020 12:00:00 AM,1130,13,Newton,1371,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,0913 1813 2000 0408 0448,21,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,236.0,NaN,NaN,NaN,100 W 57TH ST,NaN,33.9906,-118.2745
201608441,04/21/2020 12:00:00 AM,04/21/2020 12:00:00 AM,139,16,Foothill,1619,1,648,ARSON,NaN,71,F,X,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,648.0,NaN,NaN,NaN,10700 LAS LUNITAS AV,NaN,34.2629,-118.2913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240806981,03/15/2024 12:00:00 AM,03/15/2024 12:00:00 AM,1500,8,West LA,841,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 1822,31,M,W,102.0,SIDEWALK,312.0,PIPE/METAL PIPE,IC,Invest Cont,230.0,NaN,NaN,NaN,11900 SANTA MONICA BL,NaN,34.0423,-118.4656
240510863,08/23/2024 12:00:00 AM,08/22/2024 12:00:00 AM,100,5,Harbor,505,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,0,M,O,702.0,OFFICE BUILDING/OFFICE,NaN,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,900 KNOX ST,NaN,33.8542,-118.2905
241411186,06/06/2024 12:00:00 AM,06/06/2024 12:00:00 AM,1531,14,Pacific,1485,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,0,X,X,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,8600 S SEPULVEDA BL,NaN,33.9579,-118.4020
241907340,04/01/2024 12:00:00 AM,03/31/2024 12:00:00 AM,200,19,Mission,1906,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0445 0561 0913 1817,28,M,H,501.0,SINGLE FAMILY DWELLING,207.0,OTHER KNIFE,AO,Adult Other,230.0,NaN,NaN,NaN,13600 ELDRIDGE AV,NaN,34.3188,-118.4257
240113008,06/18/2024 12:00:00 AM,06/17/2024 12:00:00 AM,1855,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,27,M,B,404.0,DEPARTMENT STORE,NaN,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631

## 3. SIGNIFICADO Y FORMATO DE LAS COLUMNAS

Ya sabemos que podemos trabajar con el dataset y lo tenemos cargado con los nombre de las columnas en su formato correto

Significado de las columnas:
- dr_no: Número de expediente oficial compuesto por un año de 2 dígitos, un ID de área y 5 dígitos.
- date_rptd: Fecha de Reporte. Indica el día en que el crimen o incidente fue oficialmente reportado (MM/DD/AAAA)
- date_occ: Fecha de Ocurrencia. Indica el día real en que el crimen tuvo lugar (MM/DD/AAAA)
- time_occ: Hora de Ocurrencia en horario militar de 24 horas.
- area: Áreas Geográficas o Divisiones de Patrulla numeradas secuencialmente del 1 al 21.
- area_name: Nombre de las áreas Geográficas o Divisiones de Patrulla
- rpt_dist_no: Número de distrito de la patrulla del oficial que informó el incidente.
- part_1_2: Indica si el incidente es un crimen de la Parte 1 (crímenes más graves) o de la Parte 2 (crímenes menos graves).
- crm_cd: Código de delito de 3 dígitos del crimen cometido.
- crm_cd_desc: Descripción del delito del crimen cometido.
- mocodes: Modus Operandi o la manera distintiva o característica en que una persona lleva a cabo una actividad criminal.
- vict_age: Edad de la víctima
- vict_sex: Sexo de la víctima.
- vict_descent: Código de descendencia de la víctima
- premis_cd: El Código de Instalación es un código de 3 dígitos que identifica el tipo de lugar donde ocurrió el incidente
- premis_desc: Descripción de la Instalación.
- weapon_used_cd: El Código de Arma es un código de 3 dígitos que identifica el tipo de arma utilizada en el incidente
- weapon_desc: Descripción del Arma.
- status: Estado del caso. (IC es el valor predeterminado)
- status_desc: Define el Código de Estado proporcionado.
- crm_cd_1: Indica el crimen cometido. El Código de Crimen 1 es el principal y el más grave. Los Códigos de Crimen 2, 3 y 4 son, respectivamente, delitos menos graves. Los números de clase de crimen más bajos son más graves.
- crm_cd_2: Puede contener un código para un crimen adicional, menos grave que el Código de Crimen 1.
- crm_cd_3: Puede contener un código para un crimen adicional, menos grave que el Código de Crimen 1.
- crm_cd_4: Puede contener un código para un crimen adicional, menos grave que el Código de Crimen 1.
- location: Dirección postal del incidente del crimen redondeada al centenar de la cuadra más cercana para mantener el anonimato.
- cross_street: El nombre de la calle que se cruza con la calle principal donde ocurrió el incidente.
- lat: Latitud.
- lon: Longitud.

Códigos de descendencia: 
- A: Otros Asiáticos
- B: Afroamericano
- C: Chino
- D: Camboyano
- F: Filipino
- G: Guamés
- H: Hispano/Latino/Mexicano
- I: Indio Americano/Nativo de Alaska
- J: Japonés
- K: Coreano
- L: Laosiano
- O: Otro
- P: Isleño del Pacífico
- S: Samoano
- U: Hawaiano
- V: Vietnamita
- W: Blanco
- X: Desconocido
- Z: Hindú Asiático

Revisamos los tipos de datos de cada variable observando entre el .info() y la viasualización de la propia tabla y no se requieren cambios 

También observamos en el count que hay nulos en varias columnas que trataremos posteriormente

In [365]:
pd.set_option('display.max_columns', None)
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
242008097,04/06/2024 12:00:00 AM,04/06/2024 12:00:00 AM,415,20,Olympic,2033,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,1602 0344 0385 1822,22,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,900 S HOBART BL,NaN,34.0559,-118.3053

In [366]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331647 entries, 201812425 to 240113008
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date_rptd       331647 non-null  object
 1   date_occ        331647 non-null  object
 2   time_occ        331647 non-null  int64
 3   area            331647 non-null  int64
 4   area_name       331647 non-null  object
 5   rpt_dist_no     331647 non-null  int64
 6   part_1_2        331647 non-null  int64
 7   crm_cd          331647 non-null  int64
 8   crm_cd_desc     331647 non-null  object
 9   mocodes         281113 non-null  object
 10  vict_age        331647 non-null  int64
 11  vict_sex        283384 non-null  object
 12  vict_descent    283383 non-null  object
 13  premis_cd       331643 non-null  float64
 14  premis_desc     331468 non-null  object
 15  weapon_used_cd  107863 non-null  float64
 16  weapon_desc     107863 non-null  object
 17  status          331647 non-null  object
 18  status_desc     331647 non-null  object
 19  crm_cd_1        331644 non-null  float64
 20  crm_cd_2        22715 non-null   float64
 21  crm_cd_3        765 non-null     float64
 22  crm_cd_4        27 non-null      float64
 23  location        331647 non-null  object
 24  cross_street    50995 non-null   object
 25  lat             331647 non-null  float64
 26  lon             331647 non-null  float64
dtypes: float64(8), int64(6), object(13)
memory usage: 70.8+ MB

## 4. TRATAMIENTO DE VARIABLES

### FORMATO DE VARIABLES

Las columnas 'date_rptd' y 'date_occ' vamos a eliminar la hora porque en todos los registros nos dicen que ha sido a las '12:00:00 AM'. Esta información es errónea según la columna 'time_occ' y además no nos aporta información como variable porque es una constante en todos los registros

In [367]:
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
221808598,04/04/2022 12:00:00 AM,04/02/2022 12:00:00 AM,1,18,Southeast,1846,2,354,THEFT OF IDENTITY,0100 1822 0935,54,F,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 E 115TH ST,NaN,33.9303,-118.2518

Eliminamos la parte de la hora

In [368]:
df['date_rptd'] = df['date_rptd'].str.split(' ').str[0]
df['date_occ'] = df['date_occ'].str.split(' ').str[0]

In [369]:
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
241714063,11/06/2024,11/06/2024,1200,17,Devonshire,1754,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,10100 RESEDA BL,NaN,34.2533,-118.5361

Separamos la composición de las fechas con formato '%m/%d/%Y' de las columnas 'date_rptd' y 'date_occ' en una columna para los años, otra para meses y otra para días

In [370]:
df['year_rptd'] = df['date_rptd'].str.split('/').str[2]
df['month_rptd'] = df['date_rptd'].str.split('/').str[0]
df['day_rptd'] = df['date_rptd'].str.split('/').str[1]
df['year_occ'] = df['date_occ'].str.split('/').str[2]
df['month_occ'] = df['date_occ'].str.split('/').str[0]
df['day_occ'] = df['date_occ'].str.split('/').str[1]
df.sample()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
211225568,12/23/2021,12/22/2021,2200,12,77th Street,1232,1,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0346 1822,64,F,B,301.0,GAS STATION,NaN,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,5800 CRENSHAW BL,NaN,33.9886,-118.3307,2021,12,23,2021,12,22

Hacemos un datetime de las columnas de fechas

In [371]:
df['date_rptd'] = pd.to_datetime(df['date_rptd'], dayfirst=False, format='%m/%d/%Y')
df['date_occ'] = pd.to_datetime(df['date_occ'], dayfirst=False, format='%m/%d/%Y')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331647 entries, 201812425 to 240113008
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date_rptd       331647 non-null  datetime64[ns]
 1   date_occ        331647 non-null  datetime64[ns]
 2   time_occ        331647 non-null  int64
 3   area            331647 non-null  int64
 4   area_name       331647 non-null  object
 5   rpt_dist_no     331647 non-null  int64
 6   part_1_2        331647 non-null  int64
 7   crm_cd          331647 non-null  int64
 8   crm_cd_desc     331647 non-null  object
 9   mocodes         281113 non-null  object
 10  vict_age        331647 non-null  int64
 11  vict_sex        283384 non-null  object
 12  vict_descent    283383 non-null  object
 13  premis_cd       331643 non-null  float64
 14  premis_desc     331468 non-null  object
 15  weapon_used_cd  107863 non-null  float64
 16  weapon_desc     107863 non-null  object
 17  status          331647 non-null  object
 18  status_desc     331647 non-null  object
 19  crm_cd_1        331644 non-null  float64
 20  crm_cd_2        22715 non-null   float64
 21  crm_cd_3        765 non-null     float64
 22  crm_cd_4        27 non-null      float64
 23  location        331647 non-null  object
 24  cross_street    50995 non-null   object
 25  lat             331647 non-null  float64
 26  lon             331647 non-null  float64
 27  year_rptd       331647 non-null  object
 28  month_rptd      331647 non-null  object
 29  day_rptd        331647 non-null  object
 30  year_occ        331647 non-null  object
 31  month_occ       331647 non-null  object
 32  day_occ         331647 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(6), object(17)
memory usage: 86.0+ MB

Generamos una columna calculada con la diferencia de tiempo (en días) entre que se comete el delito y se denuncia

In [372]:
df['time_to_report'] = (df['date_rptd'] - df['date_occ']).dt.days.astype(int)
df.time_to_report.describe()

count    331647.000000
mean         12.189337
std          69.333968
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max        1796.000000
Name: time_to_report, dtype: float64

Generamos una columna para obtener la hora de ocurrencia de los delitos

In [373]:
df["hour_occ"] = df["time_occ"] // 100
df.hour_occ.nunique()

24

Vamos a mapear los códigos de 'vict_descent' con el significado que nos dieron en la información del dataset para que sea mas visual

In [374]:
map_vict_descent = {
    "A": "Otros Asiáticos",
    "B": "Afroamericano",
    "C": "Chino",
    "D": "Camboyano",
    "F": "Filipino",
    "G": "Guamés",
    "H": "Hispano/Latino/Mexicano",
    "I": "Indio Americano/Nativo de Alaska",
    "J": "Japonés",
    "K": "Coreano",
    "L": "Laosiano",
    "O": "Otro",
    "P": "Isleño del Pacífico",
    "S": "Samoano",
    "U": "Hawaiano",
    "V": "Vietnamita",
    "W": "Blanco",
    "X": "Desconocido",
    "Z": "Hindú Asiático"
}

df["vict_descent"] = df["vict_descent"].map(map_vict_descent)
df.head()

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,time_to_report,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
201812425,2020-06-11,2020-06-07,2300,18,Southeast,1829,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822 1300 0344 1202,66,F,Hispano/Latino/Mexicano,108.0,PARKING LOT,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,420.0,NaN,NaN,NaN,2100 E 102ND ST,NaN,33.9439,-118.2346,2020,06,11,2020,06,07,4,23
200705197,2020-01-23,2020-01-13,1130,7,Wilshire,777,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0601 0443,53,F,Afroamericano,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,AO,Adult Other,930.0,NaN,NaN,NaN,1600 WEST BL,NaN,34.0452,-118.3351,2020,01,23,2020,01,13,10,11
201912165,2020-07-15,2020-07-14,2200,19,Mission,1985,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,8800 TOBIAS AV,NaN,34.2299,-118.4517,2020,07,15,2020,07,14,1,22
201317843,2020-10-02,2020-10-02,1130,13,Newton,1371,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,0913 1813 2000 0408 0448,21,F,Afroamericano,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,236.0,NaN,NaN,NaN,100 W 57TH ST,NaN,33.9906,-118.2745,2020,10,02,2020,10,02,0,11
201608441,2020-04-21,2020-04-21,139,16,Foothill,1619,1,648,ARSON,NaN,71,F,Desconocido,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,648.0,NaN,NaN,NaN,10700 LAS LUNITAS AV,NaN,34.2629,-118.2913,2020,04,21,2020,04,21,0,1

In [375]:
df["vict_descent"].unique()

array(['Hispano/Latino/Mexicano', 'Afroamericano', nan, 'Desconocido',
       'Blanco', 'Otros Asiáticos', 'Otro', 'Chino', 'Coreano',
       'Filipino', 'Japonés', 'Vietnamita',
       'Indio Americano/Nativo de Alaska', 'Laosiano', 'Hawaiano',
       'Hindú Asiático', 'Isleño del Pacífico', 'Guamés', 'Samoano',
       'Camboyano'], dtype=object)

Cambiamos el formato de ciertas columnas para que nos sirvan para hacer los análisis

Nota. En el EDA hemos detectado que necesitamos dejar 'crm_cd_1' y 'crm_cd_2' como float hasta hacer las transformaciones necesarias y después lo pasaremos a category

In [376]:
#Cambiar formatos manualmente
df = df.astype({'part_1_2':'category',
                'rpt_dist_no':'object',
                #'crm_cd_1':'category',
                #'crm_cd_2':'category',
                'crm_cd_3':'category',
                'crm_cd_4':'category',
                'crm_cd':'category',
                'area':'category',
                'weapon_used_cd':'category',
                'premis_cd':'category',
                'year_rptd':'object',
                'month_rptd':'object',
                'day_rptd':'object',
                'year_occ':'object',
                'year_occ':'object',
                'year_occ':'object',
                'hour_occ':'object'
                })

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331647 entries, 201812425 to 240113008
Data columns (total 35 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date_rptd       331647 non-null  datetime64[ns]
 1   date_occ        331647 non-null  datetime64[ns]
 2   time_occ        331647 non-null  int64
 3   area            331647 non-null  category
 4   area_name       331647 non-null  object
 5   rpt_dist_no     331647 non-null  object
 6   part_1_2        331647 non-null  category
 7   crm_cd          331647 non-null  category
 8   crm_cd_desc     331647 non-null  object
 9   mocodes         281113 non-null  object
 10  vict_age        331647 non-null  int64
 11  vict_sex        283384 non-null  object
 12  vict_descent    283383 non-null  object
 13  premis_cd       331643 non-null  category
 14  premis_desc     331468 non-null  object
 15  weapon_used_cd  107863 non-null  category
 16  weapon_desc     107863 non-null  object
 17  status          331647 non-null  object
 18  status_desc     331647 non-null  object
 19  crm_cd_1        331644 non-null  float64
 20  crm_cd_2        22715 non-null   float64
 21  crm_cd_3        765 non-null     category
 22  crm_cd_4        27 non-null      category
 23  location        331647 non-null  object
 24  cross_street    50995 non-null   object
 25  lat             331647 non-null  float64
 26  lon             331647 non-null  float64
 27  year_rptd       331647 non-null  object
 28  month_rptd      331647 non-null  object
 29  day_rptd        331647 non-null  object
 30  year_occ        331647 non-null  object
 31  month_occ       331647 non-null  object
 32  day_occ         331647 non-null  object
 33  time_to_report  331647 non-null  int64
 34  hour_occ        331647 non-null  object
dtypes: category(7), datetime64[ns](2), float64(4), int64(3), object(19)
memory usage: 76.2+ MB

Camabiamos la posición de las columnas para una visualización mas cómoda

In [378]:
#Sacamos una lista de todas las columnas
list(df.columns)

['date_rptd',
 'date_occ',
 'time_occ',
 'area',
 'area_name',
 'rpt_dist_no',
 'part_1_2',
 'crm_cd',
 'crm_cd_desc',
 'mocodes',
 'vict_age',
 'vict_sex',
 'vict_descent',
 'premis_cd',
 'premis_desc',
 'weapon_used_cd',
 'weapon_desc',
 'status',
 'status_desc',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'crm_cd_4',
 'location',
 'cross_street',
 'lat',
 'lon',
 'year_rptd',
 'month_rptd',
 'day_rptd',
 'year_occ',
 'month_occ',
 'day_occ',
 'time_to_report',
 'hour_occ']

In [379]:
#Extraemos las columnas que queremos modificar y las ponemos en el orden que queremos que aparezcan
reorden = ['date_rptd','date_occ','time_to_report']

#Hacemos una lista con el resto de columnas 
resto = df.drop(columns = reorden).columns.to_list()
resto

#Agregamos ambas listas
orden = reorden + resto

df = df[orden]
df.head(5)

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
201812425,2020-06-11,2020-06-07,4,2300,18,Southeast,1829,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822 1300 0344 1202,66,F,Hispano/Latino/Mexicano,108.0,PARKING LOT,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,420.0,NaN,NaN,NaN,2100 E 102ND ST,NaN,33.9439,-118.2346,2020,06,11,2020,06,07,23
200705197,2020-01-23,2020-01-13,10,1130,7,Wilshire,777,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0601 0443,53,F,Afroamericano,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,AO,Adult Other,930.0,NaN,NaN,NaN,1600 WEST BL,NaN,34.0452,-118.3351,2020,01,23,2020,01,13,11
201912165,2020-07-15,2020-07-14,1,2200,19,Mission,1985,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,8800 TOBIAS AV,NaN,34.2299,-118.4517,2020,07,15,2020,07,14,22
201317843,2020-10-02,2020-10-02,0,1130,13,Newton,1371,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,0913 1813 2000 0408 0448,21,F,Afroamericano,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,236.0,NaN,NaN,NaN,100 W 57TH ST,NaN,33.9906,-118.2745,2020,10,02,2020,10,02,11
201608441,2020-04-21,2020-04-21,0,139,16,Foothill,1619,1,648,ARSON,NaN,71,F,Desconocido,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,648.0,NaN,NaN,NaN,10700 LAS LUNITAS AV,NaN,34.2629,-118.2913,2020,04,21,2020,04,21,1

### DUPLICADOS

Comprobamos si hay duplicados y hacemos comparaciones para asegurarnos

In [380]:
duplicados = df.duplicated().sum()
print(f'Recuento de duplicados en df: ', duplicados)

Recuento de duplicados en df:  371

Nos salen que hay duplicados de las 27 columnas y que solamente es diferente el índice. Hacemos unas visualizaciones para comprobar que son realmente duplicados y vemos que es cierto, por lo que borramos todos los duplicados

In [381]:
lineas_original = len(df)
lineas_original

331647

In [382]:
df.loc[df.duplicated()].head(2)

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
201916940,2020-11-15,2020-11-14,1,1830,19,Mission,1944,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,11400 SAN FERNANDO RD,NaN,34.2786,-118.4359,2020,11,15,2020,11,14,18
201916697,2020-11-08,2020-11-08,0,155,19,Mission,1935,1,310,BURGLARY,1607 0344 0216 0209,0,M,Otro,221.0,PUBLIC STORAGE,NaN,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,15200 BRAND BL,NaN,34.2719,-118.4592,2020,11,08,2020,11,08,1

In [383]:
# Buscamos una en concreto por hacer la comprobación
df.loc[(df.mocodes == '0421 1528 1822 0903 2053')]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
220706179,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,F,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12
220706176,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,F,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12
220706178,2022-02-26,2022-02-26,0,1200,7,Wilshire,752,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 1528 1822 0903 2053,0,M,Otro,501.0,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,930.0,946.0,NaN,NaN,1100 S ORLANDO AV,NaN,34.0572,-118.3739,2022,02,26,2022,02,26,12

Eliminamos los duplicados

In [384]:
df.drop_duplicates(inplace=True)

In [385]:
lineas_despues = len(df)

diff = lineas_original - lineas_despues

print("Filas antes:", lineas_original)
print("Filas después:", lineas_despues)
print("Diferencia:", diff)

Filas antes: 331647
Filas después: 331276
Diferencia: 371

### VALORES ÚNICOS

Comprobamos los valores únicos en la tabla para desestimar variables. En este caso, no hay constantes

In [386]:
df.nunique().sort_values(ascending=True)

# Si hubiera alguna columna que eliminar haríamos df.drop(columns = '...', inplace=True)

part_1_2               2
crm_cd_4               2
vict_sex               4
status_desc            6
year_occ               6
status                 6
year_rptd              6
month_rptd            12
month_occ             12
vict_descent          19
area_name             21
area                  21
hour_occ              24
crm_cd_3              26
day_rptd              31
day_occ               31
weapon_used_cd        76
weapon_desc           76
vict_age             103
crm_cd_2             105
crm_cd_desc          137
crm_cd               137
crm_cd_1             139
premis_desc          298
premis_cd            304
rpt_dist_no         1164
time_to_report      1180
time_occ            1439
date_occ            1856
date_rptd           1870
lon                 4875
lat                 5191
cross_street        6574
location           50658
mocodes           116953
dtype: int64

### VALORES NULOS

Comprobamos los nulos que existen según el tipo de columna: Categórica y numérica

Primero haremos las comprobaciones, después expondré las conclusiones y a continuación realizaré los cambios

In [387]:
df.select_dtypes(include='number').isna().sum().sort_values(ascending=False)

crm_cd_2          308572
crm_cd_1               3
time_to_report         0
vict_age               0
time_occ               0
lat                    0
lon                    0
dtype: int64

In [388]:
df.select_dtypes(exclude='number').isna().sum().sort_values(ascending=False)

crm_cd_4          331249
crm_cd_3          330511
cross_street      280342
weapon_used_cd    223544
weapon_desc       223544
mocodes            50386
vict_descent       48119
vict_sex           48118
premis_desc          179
premis_cd              4
area_name              0
area                   0
rpt_dist_no            0
part_1_2               0
crm_cd                 0
crm_cd_desc            0
date_rptd              0
date_occ               0
status_desc            0
status                 0
location               0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

In [389]:
df.vict_descent.unique()

array(['Hispano/Latino/Mexicano', 'Afroamericano', nan, 'Desconocido',
       'Blanco', 'Otros Asiáticos', 'Otro', 'Chino', 'Coreano',
       'Filipino', 'Japonés', 'Vietnamita',
       'Indio Americano/Nativo de Alaska', 'Laosiano', 'Hawaiano',
       'Hindú Asiático', 'Isleño del Pacífico', 'Guamés', 'Samoano',
       'Camboyano'], dtype=object)

In [390]:
df.loc[df.vict_descent=='-']

Empty DataFrame
Columns: [date_rptd, date_occ, time_to_report, time_occ, area, area_name, rpt_dist_no, part_1_2, crm_cd, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_cd, premis_desc, weapon_used_cd, weapon_desc, status, status_desc, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, location, cross_street, lat, lon, year_rptd, month_rptd, day_rptd, year_occ, month_occ, day_occ, hour_occ]
Index: []

In [391]:
df.vict_sex.unique()

array(['F', nan, 'M', 'X', 'H'], dtype=object)

In [392]:
df.loc[df.vict_sex=='-']

Empty DataFrame
Columns: [date_rptd, date_occ, time_to_report, time_occ, area, area_name, rpt_dist_no, part_1_2, crm_cd, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_cd, premis_desc, weapon_used_cd, weapon_desc, status, status_desc, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, location, cross_street, lat, lon, year_rptd, month_rptd, day_rptd, year_occ, month_occ, day_occ, hour_occ]
Index: []

In [393]:
df.loc[(df.premis_cd.notna())&(df.premis_desc.isna())].premis_cd.value_counts()

premis_cd
418.0    114
256.0     49
972.0      8
973.0      2
975.0      1
        ...
150.0      0
151.0      0
152.0      0
154.0      0
106.0      0
Name: count, Length: 304, dtype: int64

In [394]:
df.loc[(df.crm_cd_1.isna())]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
200116522,2020-08-17,2020-08-17,0,545,1,Central,176,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 2004 1601,0,X,Desconocido,203.0,OTHER BUSINESS,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,NaN,745.0,NaN,NaN,800 SANTEE ST,NaN,34.0401,-118.2533,2020,08,17,2020,08,17,5
230114704,2023-06-22,2023-06-22,0,1801,1,Central,162,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,25,M,Hispano/Latino/Mexicano,404.0,DEPARTMENT STORE,NaN,NaN,IC,Invest Cont,NaN,442.0,NaN,NaN,700 S FLOWER ST,NaN,34.0487,-118.2588,2023,06,22,2023,06,22,18
230114706,2023-06-22,2023-06-22,0,1550,1,Central,155,2,623,BATTERY POLICE (SIMPLE),1212 0917 0447 2004,0,M,Hispano/Latino/Mexicano,726.0,POLICE FACILITY,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,NaN,623.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,2023,06,22,2023,06,22,15

In [395]:
df.loc[(df.status.isna())]

Empty DataFrame
Columns: [date_rptd, date_occ, time_to_report, time_occ, area, area_name, rpt_dist_no, part_1_2, crm_cd, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_cd, premis_desc, weapon_used_cd, weapon_desc, status, status_desc, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, location, cross_street, lat, lon, year_rptd, month_rptd, day_rptd, year_occ, month_occ, day_occ, hour_occ]
Index: []

In [396]:
df.loc[(df.crm_cd_1 == 510.0)]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
201912165,2020-07-15,2020-07-14,1,2200,19,Mission,1985,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,8800 TOBIAS AV,NaN,34.2299,-118.4517,2020,07,15,2020,07,14,22
201408986,2020-03-29,2020-03-27,2,1930,14,Pacific,1483,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,9300 LINCOLN BL,NaN,33.9552,-118.4141,2020,03,29,2020,03,27,19
201815136,2020-08-06,2020-08-06,0,1030,18,Southeast,1823,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 95TH ST,NaN,33.9502,-118.2717,2020,08,06,2020,08,06,10
201915471,2020-10-09,2020-10-09,0,1720,19,Mission,1981,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,8700 N SEPULVEDA BL,NaN,34.2267,-118.4704,2020,10,09,2020,10,09,17
201911378,2020-06-25,2020-06-21,4,400,19,Mission,1911,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,13100 TELFAIR AV,NaN,34.3071,-118.4764,2020,06,25,2020,06,21,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240709186,2024-06-01,2024-06-01,0,530,7,Wilshire,764,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1400 S DUNSMUIR AV,NaN,34.0483,-118.3537,2024,06,01,2024,06,01,5
240404028,2024-01-02,2024-01-01,1,1600,4,Hollenbeck,468,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,3100 E 1ST ST,NaN,34.0395,-118.2003,2024,01,02,2024,01,01,16
240511468,2024-09-21,2024-09-21,0,915,5,Harbor,528,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1100 SANFORD AV,NaN,33.7853,-118.2506,2024,09,21,2024,09,21,9
241104553,2024-01-15,2024-01-12,3,1430,11,Northeast,1141,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1700 N BERENDO ST,NaN,34.1018,-118.2945,2024,01,15,2024,01,12,14
241408974,2024-04-24,2024-04-22,2,1330,14,Pacific,1464,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,12000 WATERFRONT DR,NaN,33.9829,-118.4032,2024,04,24,2024,04,22,13

## 5. GUARDADO DE RESULTADOS

In [397]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

In [398]:
ruta_trabajo = ruta_principal + carpeta + 'trabajo_resultado_calidad.pickle'

Guardar los archivos

In [399]:
df.to_pickle(ruta_trabajo)