# ANÁLISIS EXPLORATORIO DE DATOS

## 1. IMPORTAMOS PAQUETES Y DATOS

In [190]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
%config IPCompleter.greedy = True
import warnings
warnings.filterwarnings('ignore')

Ruta archivo de calidad de datos

In [191]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

Nombres de los ficheros de datos.

In [192]:
df_calidad = 'trabajo_resultado_calidad.pickle'

Cargamos los datasets

In [193]:
df = pd.read_pickle(ruta_principal + carpeta + df_calidad)

## 2. CONCLUSIONES Y CAMBIOS NECESARIOS

Observamos lo siguiente sobre las variables categóricas y numéricas: La norma es dejar lo nulos como NaN 
- En ambos casos hay variables con muchos nulos pero tiene sentido que sean nulos porque son datos que no era necesario rellenarlos
    - crm_cd_4, crm_cd_3 y crm_cd_2 son los códigos de los crímenes secundarios. Entiendo que no hubo crímenes secundarios
    - weapon_used_cd y weapon_desc: Habla de las armas usadas. Entiendo que no hubo armas
    - cross_street: Identifica si el crimen se cometió en un cruce. Entiendo que no fue en un cruce
    - mocodes: Habla del modus operandi específico del crimen. Entiendo que no encontraron un patrón identificable

- En el caso de vict_descent vamos a borrar los 2 registros que hay con '-'
- En el caso de vict_sex, aparecen registros con ['M', 'F', nan, 'X', 'H', '-']. Vamos a dejar solamente M: Male, F: Female y U: Unknown y borraremos el registro con '-'
- premis_cd y premis_desc contienen información sobre las instalaciones donde se produjo el crimen (código y descripción). Desconocemos el significado de los códigos, pero observamos que los registros de (df.premis_cd.notna())&(df.premis_desc.isna()) se concentran en unos cuantos códigos y habría que investigarlos con una persona de dentro de la organización para obtener mas información. De momento:
    - premis_cd podrían ser que no lo hayan escrito o que no tengan código para ese sitio concreto y habría que investigarlo con alguien de dentro
    - premis_desc que son nulos son los mismos que premis_cd por lo que los dejamos como nulos
- En el caso de status, los vamos a borrar porque no hay información en casi ninguna variable y solamente es un caso 
- Por último, crm_cd_1. Este es el código del delito principal que siempre debe ser un código mas bajo (mas bajo = mas grave) que los códigos de crm_cd_1, 2 3 y 4. Así que vamos a ponerles el mismo código por practicar entendiendo que se equivocaron al rellenar el campo y pusieron la información en el crm_cd_2 en vez de el crm_cd_1
- Eliminación de variables:
    - Por baja frecuencia (<2%) ya que no podemos agrupar los datos para sacer estadísticos ni conclusiones de grupo
        - location
        - cross_street
        - time_occ
    - Hemos generado una columna alternativa llamada 'time_to_report' con la información y no aportan: time_occ
    Sobre 'time_to_report' si nos metieramos a hacer un análisis mas profundo, habría que segmentar esta variable en tramos para estudiar todos los casos que superan el percentil 75% que son muchos pero, para el caso de estudio y el objetivo del ejercicio, entiendo que no vamos a entrar en análisis tan profundo

In [194]:
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331245
crm_cd_3          330494
crm_cd_2          308295
cross_street      280530
weapon_used_cd    223236
weapon_desc       223236
mocodes            49901
vict_descent       47573
vict_sex           47570
premis_desc          208
premis_cd              9
crm_cd_1               2
status                 1
date_rptd              0
date_occ               0
time_to_report         0
crm_cd_desc            0
part_1_2               0
crm_cd                 0
vict_age               0
time_occ               0
area_name              0
area                   0
rpt_dist_no            0
status_desc            0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

### VARIABLES

#### MOCODES

Imputamos los nulos de 'mocodes' por 9999 para tenerlos identificados pero que sea un valor numérico de 4 dígitos

In [195]:
var_imputar_numero = ['mocodes']
numero = '9999'
df[var_imputar_numero] = df[var_imputar_numero].fillna(numero)
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331245
crm_cd_3          330494
crm_cd_2          308295
cross_street      280530
weapon_used_cd    223236
weapon_desc       223236
vict_descent       47573
vict_sex           47570
premis_desc          208
premis_cd              9
crm_cd_1               2
status                 1
time_to_report         0
date_rptd              0
date_occ               0
mocodes                0
crm_cd_desc            0
crm_cd                 0
time_occ               0
vict_age               0
area                   0
area_name              0
rpt_dist_no            0
part_1_2               0
status_desc            0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

#### STATUS

Borramos el registro de status

In [196]:
df.loc[(df.status.isna())]

,date_rptd,date_occ,time_to_report,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,cross_street,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,
241810568,2024-06-08,2024-05-24,15,1900,18,Southeast,1871,1,510,VEHICLE - STOLEN,...,NaN,33.9092,-118.2827,2024,06,08,2024,05,24,19

In [197]:
df = df.loc[df.status.notna()]
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331244
crm_cd_3          330493
crm_cd_2          308294
cross_street      280529
weapon_used_cd    223235
weapon_desc       223235
vict_descent       47572
vict_sex           47569
premis_desc          207
premis_cd              8
crm_cd_1               2
time_to_report         0
date_occ               0
date_rptd              0
crm_cd                 0
mocodes                0
crm_cd_desc            0
time_occ               0
area                   0
status                 0
vict_age               0
area_name              0
rpt_dist_no            0
part_1_2               0
status_desc            0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

#### VICT_DESCENT

Borramos los dos registros con '-' e imputamos los registros de vict_descent según la distribución de los datos

In [198]:
df = df.loc[~(df.vict_descent=='-')]

#### CRM_CD_1

Imputamos los valores de crm_cd_1 que son nulos por los de crm_cd_2

In [199]:
df['crm_cd_1'] = df['crm_cd_1'].fillna(df['crm_cd_2'])
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331244
crm_cd_3          330493
crm_cd_2          308294
cross_street      280529
weapon_used_cd    223235
weapon_desc       223235
vict_descent       47572
vict_sex           47569
premis_desc          207
premis_cd              8
date_rptd              0
time_to_report         0
date_occ               0
crm_cd                 0
part_1_2               0
mocodes                0
crm_cd_desc            0
time_occ               0
area                   0
status                 0
vict_age               0
area_name              0
rpt_dist_no            0
status_desc            0
crm_cd_1               0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

In [200]:
#Cambiar formatos manualmente
df = df.astype({'crm_cd_1':'float64',
                'crm_cd_2':'float64'})

# Convertir columnas object a tipo 'category'
for col in df.select_dtypes(include=['float64']).columns:
    df[col] = df[col].astype("category")

In [201]:
df.crm_cd_1.info()

<class 'pandas.core.series.Series'>
Index: 331263 entries, 200114944 to 240710787
Series name: crm_cd_1
Non-Null Count   Dtype
--------------   -----
331263 non-null  category
dtypes: category(1)
memory usage: 3.2 MB

#### VICT_SEX

Usaremos el SimpleImputer para aplicar sobre la variable 'vict_sex' que vamos a sustituir los nulos por 'U' y sobre 'premis_cd' imputaremos por la moda

In [202]:
#['M', 'F', nan, 'X', 'H', '-']

#Cargamos e instanciamos SimpleImputer
from sklearn.impute import SimpleImputer

#Reenplaza todos los 'unknown' de df y los hace NaN de Numpy para que después los identifique bien.
#El valor a reemplazar hay que mirarlo en cada caso
df.vict_sex.replace(['nan'], np.nan, inplace = True)

#Instanciamos el nuevo imputer
#Variables CATEGÓRICAS
nulos_var = SimpleImputer(strategy='constant', fill_value='Unknwon') #Reenplazamos por un valor constante

#Entrenamos el imputer
#Es importante que si hacemos una sola variable la pongamos con doble corchete. Si no, nos dará un error de dimensiones
nulos_var.fit(df[['vict_sex']])

#Ejecutamos el imputer
df[['vict_sex']] = nulos_var.transform(df[['vict_sex']])

Eliminamos el registro de vict_sex = '-'

In [203]:
df = df.loc[~(df.vict_sex=='-')]

Estandarización de los valores de vict_sex para que solamente haya 'Male', 'Female' y 'Unknown'

In [204]:
df.vict_sex.unique()

array(['F', 'Unknwon', 'M', 'X', 'H'], dtype=object)

In [205]:
df.vict_sex.replace({'M':'Female',
                     'F':'Female',
                     'H':'Male',
                     'X':'Male'}, inplace=True)

In [206]:
df.vict_sex.unique()

array(['Female', 'Unknwon', 'Male'], dtype=object)

#### LOCATION

In [207]:
df = df.drop(columns='location')

#### CROSS_STREET

In [208]:
df = df.drop(columns='cross_street')

#### TIME_OCC

In [209]:
df = df.drop(columns='time_occ')

### VALORES ATÍPICOS

Localizamos los valores atípicos

In [210]:
for variable in df:
    print(variable + '\n')
    print(df[variable].value_counts(dropna = False))
    print('\n\n')

date_rptd

date_rptd
2022-12-05    321
2023-02-03    306
2022-11-02    304
2022-05-02    303
2022-06-02    302
             ...
2025-03-14      1
2025-03-19      1
2025-03-13      1
2025-06-04      1
2025-02-23      1
Name: count, Length: 1868, dtype: int64



date_occ

date_occ
2022-12-02    392
2022-06-01    366
2022-09-01    362
2023-01-01    360
2021-01-01    354
             ...
2025-02-10      1
2025-03-18      1
2025-02-24      1
2025-01-14      1
2025-05-29      1
Name: count, Length: 1853, dtype: int64



time_to_report

time_to_report
0      159128
1       73016
2       21309
3       12145
4        7919
        ...
647         1
975         1
529         1
911         1
974         1
Name: count, Length: 1164, dtype: int64



area

area
1     22915
12    20400
14    19580
3     19062
6     17102
15    17094
20    16524
18    16353
13    16199
7     15960
2     15339
8     15111
11    14330
9     14098
10    13874
17    13805
5     13643
21    13506
19    13339
4     12156
16    10873
Name: count, dtype: int64



area_name

area_name
Central        22915
77th Street    20400
Pacific        19580
Southwest      19062
Hollywood      17102
N Hollywood    17094
Olympic        16524
Southeast      16353
Newton         16199
Wilshire       15960
Rampart        15339
West LA        15111
Northeast      14330
Van Nuys       14098
West Valley    13874
Devonshire     13805
Harbor         13643
Topanga        13506
Mission        13339
Hollenbeck     12156
Foothill       10873
Name: count, dtype: int64



rpt_dist_no

rpt_dist_no
162     1785
1494    1784
645     1620
182     1580
646     1443
        ...
942        1
700        1
917        1
1683       1
1087       1
Name: count, Length: 1162, dtype: int64



part_1_2

part_1_2
1    198515
2    132748
Name: count, dtype: int64



crm_cd

crm_cd
510    37905
624    24680
330    20863
354    20681
740    20080
       ...
830        2
113        1
436        1
445        1
904        1
Name: count, Length: 138, dtype: int64



crm_cd_desc

crm_cd_desc
VEHICLE - STOLEN                                            37905
BATTERY - SIMPLE ASSAULT                                    24680
BURGLARY FROM VEHICLE                                       20863
THEFT OF IDENTITY                                           20681
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     20080
                                                            ...
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM        2
LYNCHING - ATTEMPTED                                            1
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)              1
MANSLAUGHTER, NEGLIGENT                                         1
DISHONEST EMPLOYEE ATTEMPTED THEFT                              1
Name: count, Length: 138, dtype: int64



mocodes

mocodes
9999                             49943
0344                             13936
0329                              7174
1822 0344                         4636
0325                              3349
                                 ...
0329 1300 1822 0334                  1
2034 0329 0603 0913                  1
1300 0329 0913 1402 2000 1813        1
1822 2004 2052 0910 1402             1
2048 0910 1402 0334 0445 1822        1
Name: count, Length: 117534, dtype: int64



vict_age

vict_age
 0      88752
 30      7263
 35      7237
 31      7108
 29      7057
        ...
 98        27
-2          8
-3          2
-4          1
 120        1
Name: count, Length: 104, dtype: int64



vict_sex

vict_sex
Female     251250
Unknwon     47569
Male        32444
Name: count, dtype: int64



vict_descent

vict_descent
Hispano                97498
Blanco                 66350
NaN                    47572
Afroamericano          44800
Desconocido            35385
Otro                   25696
Asiáticos               7088
Coreano                 2025
Filipino                1629
Chino                   1534
Japonés                  534
Vietnamita               393
Indio_Americano          334
Hindú_Asiático           167
Isleño_del_Pacífico       91
Hawaiano                  63
Camboyano                 29
Guamés                    28
Samoano                   25
Laosiano                  22
Name: count, dtype: int64



premis_cd

premis_cd
101.0    86144
501.0    53847
502.0    39312
108.0    22771
203.0    15803
         ...
896.0        1
890.0        1
973.0        1
974.0        1
976.0        1
Name: count, Length: 308, dtype: int64



premis_desc

premis_desc
STREET                                          86144
SINGLE FAMILY DWELLING                          53847
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    39312
PARKING LOT                                     22771
OTHER BUSINESS                                  15803
                                                ...
MTA - ORANGE LINE - VALLEY COLLEGE                  1
MTA - ORANGE LINE - SHERMAN WAY                     1
ABATEMENT LOCATION                                  1
DEPT OF DEFENSE FACILITY                            1
MTA - SILVER LINE - ROSECRANS                       1
Name: count, Length: 301, dtype: int64



weapon_used_cd

weapon_used_cd
NaN       223235
 400.0     57488
 500.0     12072
 511.0      7852
 102.0      6772
           ...
 119.0         1
 124.0         1
 123.0         1
 121.0         1
 300.0         1
Name: count, Length: 79, dtype: int64



weapon_desc

weapon_desc
NaN                                               223235
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     57488
UNKNOWN WEAPON/OTHER WEAPON                        12072
VERBAL THREAT                                       7852
HAND GUN                                            6772
                                                   ...
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
BLACKJACK                                              1
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          1
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    1
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       1
Name: count, Length: 79, dtype: int64



status

status
IC    264449
AO     36182
AA     28901
JA      1076
JO       653
CC         2
Name: count, dtype: int64



status_desc

status_desc
Invest Cont     264449
Adult Other      36182
Adult Arrest     28901
Juv Arrest        1076
Juv Other          653
UNK                  2
Name: count, dtype: int64



crm_cd_1

crm_cd_1
510.0    37906
624.0    24784
330.0    20875
354.0    20684
740.0    20111
         ...
830.0        2
113.0        1
436.0        1
445.0        1
904.0        1
Name: count, Length: 139, dtype: int64



crm_cd_2

crm_cd_2
NaN       308294
 998.0     18385
 930.0      1257
 860.0       462
 761.0       312
           ...
 902.0         1
 931.0         1
 954.0         1
 979.0         1
 996.0         1
Name: count, Length: 106, dtype: int64



crm_cd_3

crm_cd_3
NaN       330493
 998.0       686
 930.0        24
 910.0         6
 999.0         6
 761.0         6
 860.0         5
 626.0         4
 740.0         4
 821.0         4
 946.0         4
 888.0         3
 745.0         3
 653.0         2
 956.0         2
 820.0         2
 649.0         1
 815.0         1
 810.0         1
 753.0         1
 900.0         1
 902.0         1
 901.0         1
 943.0         1
 997.0         1
Name: count, dtype: int64



crm_cd_4

crm_cd_4
NaN       331244
 998.0        16
 999.0         3
Name: count, dtype: int64



lat

lat
34.1016    1824
34.0980    1442
34.2012    1387
34.1939    1194
34.1867    1118
           ...
34.3254       1
34.3179       1
34.3185       1
33.7141       1
33.7146       1
Name: count, Length: 5172, dtype: int64



lon

lon
-118.2739    2455
-118.2827    2098
-118.2915    1412
-118.2652    1331
-118.2871    1310
             ...
-118.6280       1
-118.6537       1
-118.6533       1
-118.6625       1
-118.6626       1
Name: count, Length: 4872, dtype: int64



year_rptd

year_rptd
2022    77566
2023    77209
2021    68631
2020    63520
2024    44270
2025       67
Name: count, dtype: int64



month_rptd

month_rptd
01    29982
03    28929
02    28423
04    27682
08    27635
07    27589
10    27577
05    27445
09    26788
06    26766
11    26337
12    26110
Name: count, dtype: int64



day_rptd

day_rptd
02    11692
03    11469
06    11272
01    11185
05    11123
04    11119
13    11036
23    11016
22    10999
08    10993
07    10984
09    10953
18    10940
21    10894
28    10880
27    10845
16    10822
15    10756
20    10702
19    10698
11    10691
12    10681
10    10671
14    10662
26    10547
17    10541
25    10478
24    10467
29    10192
30     9787
31     6168
Name: count, dtype: int64



year_occ

year_occ
2022    77596
2023    76513
2021    69184
2020    65859
2024    42073
2025       38
Name: count, dtype: int64



month_occ

month_occ
01    30592
03    28815
02    28314
10    27758
04    27707
08    27618
07    27588
05    27386
06    26751
09    26672
11    26127
12    25935
Name: count, dtype: int64



day_occ

day_occ
01    15354
02    12427
03    11887
15    11028
05    10998
20    10890
04    10832
23    10793
10    10788
22    10780
21    10752
08    10725
06    10710
07    10645
16    10604
18    10587
19    10580
14    10561
12    10546
28    10528
09    10515
27    10495
17    10450
24    10417
13    10405
25    10377
11    10365
26    10316
29    10021
30     9776
31     6111
Name: count, dtype: int64



hour_occ

hour_occ
12    22578
18    19623
17    19415
20    18599
19    18312
15    17529
16    17490
21    16770
14    16234
22    16156
13    14816
11    14444
10    14226
23    13881
0     13309
8     12257
9     12002
1      9757
7      8764
2      8240
6      7669
3      7343
4      6188
5      5661
Name: count, dtype: int64

#### AGRUPACION DE CATEGORÍAS RARAS

In [211]:
# Función de agrupacion de variables raras
def agrupar_cat_raras(variable, criterio = 0.02):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

# Variables a agrupar
var_imputar_cat_raras = ['weapon_used_cd','premis_cd','premis_desc','weapon_used_cd','weapon_desc','crm_cd_1','crm_cd_2','crm_cd_3','crm_cd_4']

# Aplicación
for variable in var_imputar_cat_raras:
    df[variable] = agrupar_cat_raras(df[variable],criterio = 0.02)

Hacemos un describe sobre las variables numéricas a ver que vemos y observamos que, aunque hay varias variables numéricas, no podríamos hacer ningún estadísticos sobre ellas, exceptopsobre 'vict_age' donde vemos que la media de edad es de 29 años y la mediana está en 22 años pero observamos que el mínimo es -4 y máximo 120 años. Esto lo solucionaremos una media winsorizada (0,100)

In [212]:
df.select_dtypes(include='number').describe().T

                   count       mean        std  min  25%   50%   75%     max
time_to_report  331263.0  12.071732  68.215594  0.0  0.0   1.0   2.0  1791.0
vict_age        331263.0  28.915635  22.000650 -4.0  0.0  30.0  44.0   120.0

In [213]:
df.vict_age.value_counts().sort_index(ascending=True)

vict_age
-4          1
-3          2
-2          8
-1         37
 0      88752
        ...
 96        29
 97        28
 98        27
 99       125
 120        1
Name: count, Length: 104, dtype: int64

#### WINSORIZACIÓN

VICT_AGE: Realizamos una imputacion de los valores de la edad tras realizar una media winsorizada manualmente (0, 100)

In [214]:
variable = 'vict_age'
df[variable].describe().loc[['min','max']]

min     -4.0
max    120.0
Name: vict_age, dtype: float64

In [215]:
minimo = 0
maximo = 100
df[variable] = df[variable].clip(minimo, maximo)
df[variable].describe()

count    331263.000000
mean         28.915765
std          22.000170
min           0.000000
25%           0.000000
50%          30.000000
75%          44.000000
max         100.000000
Name: vict_age, dtype: float64

In [216]:
num = df.select_dtypes(include='number')
num

           time_to_report  vict_age
dr_no
200114944               1        27
202007973               1         0
202114730               0        36
210704099              12        51
200511531               8        66
...                   ...       ...
241209917               0        29
241814866               1         0
240113722               0         0
242111676               1        38
240710787               1         0

[331263 rows x 2 columns]

In [217]:
cat = df.select_dtypes(exclude='number')
cat.head()

,date_rptd,date_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_sex,...,crm_cd_4,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,
200114944,2020-07-17,2020-07-16,1,Central,111,1,330,BURGLARY FROM VEHICLE,1307 1822 0329 0352 1609 0344,Female,...,nan,34.0658,-118.2366,2020,07,17,2020,07,16,14
202007973,2020-03-27,2020-03-26,20,Olympic,2002,1,510,VEHICLE - STOLEN,9999,Unknwon,...,nan,34.0803,-118.3125,2020,03,27,2020,03,26,14
202114730,2020-10-11,2020-10-11,21,Topanga,2136,2,624,BATTERY - SIMPLE ASSAULT,0400,Female,...,nan,34.2029,-118.5943,2020,10,11,2020,10,11,19
210704099,2021-01-04,2020-12-23,7,Wilshire,711,1,330,BURGLARY FROM VEHICLE,0344 1601,Female,...,nan,34.0781,-118.3732,2021,01,04,2020,12,23,18
200511531,2020-07-07,2020-06-29,5,Harbor,529,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344,Female,...,nan,33.7672,-118.2414,2020,07,07,2020,06,29,20

## 4. GUARDADO DE RESULTADOS

In [218]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

In [219]:
ruta_trabajo = ruta_principal + carpeta + 'trabajo_resultado_eda.pickle'
ruta_cat = ruta_principal + carpeta + 'cat_resultado_eda.pickle'
ruta_num = ruta_principal + carpeta + 'num_resultado_eda.pickle'

Guardar los archivos

In [220]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)