# ANÁLISIS EXPLORATORIO DE DATOS

## 1. IMPORTAMOS PAQUETES Y DATOS

In [125]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
%config IPCompleter.greedy = True
import warnings
warnings.filterwarnings('ignore')

Ruta archivo de calidad de datos

In [126]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

Nombres de los ficheros de datos.

In [127]:
df_calidad = 'trabajo_resultado_calidad.pickle'

Cargamos los datasets

In [128]:
df = pd.read_pickle(ruta_principal + carpeta + df_calidad)

## 2. CONCLUSIONES Y CAMBIOS NECESARIOS

Observamos lo siguiente sobre las variables categóricas y numéricas: La norma es dejar lo nulos como NaN 
- En ambos casos hay variables con muchos nulos pero tiene sentido que sean nulos porque son datos que no era necesario rellenarlos
    - crm_cd_4, crm_cd_3 y crm_cd_2 son los códigos de los crímenes secundarios. Entiendo que no hubo crímenes secundarios
    - weapon_used_cd y weapon_desc: Habla de las armas usadas. Entiendo que no hubo armas
    - cross_street: Identifica si el crimen se cometió en un cruce. Entiendo que no fue en un cruce
    - mocodes: Habla del modus operandi específico del crimen. Entiendo que no encontraron un patrón identificable

- En el caso de vict_descent vamos a borrar los 2 registros que hay con '-'
- En el caso de vict_sex, aparecen registros con ['M', 'F', nan, 'X', 'H', '-']. Vamos a dejar solamente M: Male, F: Female y U: Unknown y borraremos el registro con '-'
- premis_cd y premis_desc contienen información sobre las instalaciones donde se produjo el crimen (código y descripción). Desconocemos el significado de los códigos, pero observamos que los registros de (df.premis_cd.notna())&(df.premis_desc.isna()) se concentran en unos cuantos códigos y habría que investigarlos con una persona de dentro de la organización para obtener mas información. De momento 
    - premis_cd podrían ser que no lo hayan escrito o que no tengan códogo para ese sitio concreto y habría que investigarlo con alguien de dentro
    - premis_desc que son nulos son los mismos que premis_cd por lo que los dejemos como nulos
- En el caso de status, los vamos a borrar porque no hay información en casi ninguna variable y solamente es un caso 
- Por último, crm_cd_1. Este es el código del delito principal que siempre debe ser un código mas bajo (mas bajo = mas grave) que los códigos de crm_cd_1, 2 3 y 4. Así que vamos a ponerles el mismo código por practicar entendiendo que se equivocaron al rellenar el campo y pusieron la información en el crm_cd_2 en vez de el crm_cd_1
- Eliminación de variables:
    - Por baja frecuencia (<2%) ya que no podemos agrupar los datos para sacer estadísticos ni conclusiones de grupo
        - location
        - cross_street
    - Hemos generado una columna alternativa llamada 'time_to_report' con la información y no aportan: time_occ
    Sobre 'time_to_report' si nos metieramos a hacer un análisis mas profundo, habría que segmentar esta variable en tramos para estudiar todos los casos que superan el percentil 75% que son muchos pero, para el caso de estudio y el objetivo del ejercicio, entiendo que no vamos a entrar en análisis tan profundo

In [129]:
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331249
crm_cd_3          330511
crm_cd_2          308572
cross_street      280342
weapon_used_cd    223544
weapon_desc       223544
mocodes            50386
vict_descent       48119
vict_sex           48118
premis_desc          179
premis_cd              4
crm_cd_1               3
time_to_report         0
date_rptd              0
date_occ               0
crm_cd_desc            0
crm_cd                 0
part_1_2               0
time_occ               0
status                 0
vict_age               0
area_name              0
area                   0
rpt_dist_no            0
status_desc            0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

### VARIABLES

#### MOCODES

Imputamos los nulos de 'mocodes' por 9999 para tenerlos identificados pero que sea un valor numérico de 4 dígitos

In [130]:
var_imputar_numero = ['mocodes']
numero = '9999'
df[var_imputar_numero] = df[var_imputar_numero].fillna(numero)
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331249
crm_cd_3          330511
crm_cd_2          308572
cross_street      280342
weapon_used_cd    223544
weapon_desc       223544
vict_descent       48119
vict_sex           48118
premis_desc          179
premis_cd              4
crm_cd_1               3
time_to_report         0
date_occ               0
date_rptd              0
crm_cd                 0
mocodes                0
crm_cd_desc            0
time_occ               0
area                   0
status                 0
vict_age               0
area_name              0
rpt_dist_no            0
part_1_2               0
status_desc            0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

#### STATUS

Borramos el registro de status

In [131]:
df.loc[(df.status.isna())]

Empty DataFrame
Columns: [date_rptd, date_occ, time_to_report, time_occ, area, area_name, rpt_dist_no, part_1_2, crm_cd, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_cd, premis_desc, weapon_used_cd, weapon_desc, status, status_desc, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, location, cross_street, lat, lon, year_rptd, month_rptd, day_rptd, year_occ, month_occ, day_occ, hour_occ]
Index: []

[0 rows x 35 columns]

In [132]:
df = df.loc[df.status.notna()]
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331249
crm_cd_3          330511
crm_cd_2          308572
cross_street      280342
weapon_used_cd    223544
weapon_desc       223544
vict_descent       48119
vict_sex           48118
premis_desc          179
premis_cd              4
crm_cd_1               3
time_to_report         0
date_occ               0
date_rptd              0
crm_cd                 0
mocodes                0
crm_cd_desc            0
time_occ               0
area                   0
status                 0
vict_age               0
area_name              0
rpt_dist_no            0
part_1_2               0
status_desc            0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

#### VICT_DESCENT

Borramos los dos registros con '-' e imputamos los registros de vict_descent según la distribución de los datos

In [133]:
df = df.loc[~(df.vict_descent=='-')]

#### CRM_CD_1

Imputamos los valores de crm_cd_1 que son nulos por los de crm_cd_2

In [134]:
df['crm_cd_1'] = df['crm_cd_1'].fillna(df['crm_cd_2'])
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331249
crm_cd_3          330511
crm_cd_2          308572
cross_street      280342
weapon_used_cd    223544
weapon_desc       223544
vict_descent       48119
vict_sex           48118
premis_desc          179
premis_cd              4
date_rptd              0
time_to_report         0
date_occ               0
crm_cd                 0
part_1_2               0
mocodes                0
crm_cd_desc            0
time_occ               0
area                   0
status                 0
vict_age               0
area_name              0
rpt_dist_no            0
status_desc            0
crm_cd_1               0
location               0
lat                    0
lon                    0
year_rptd              0
month_rptd             0
day_rptd               0
year_occ               0
month_occ              0
day_occ                0
hour_occ               0
dtype: int64

In [135]:
#Cambiar formatos manualmente
df = df.astype({'crm_cd_1':'float64',
                'crm_cd_2':'float64'})

# Convertir columnas object a tipo 'category'
for col in df.select_dtypes(include=['float64']).columns:
    df[col] = df[col].astype("category")

In [136]:
df.crm_cd_1.info()

<class 'pandas.core.series.Series'>
Index: 331276 entries, 201812425 to 240113008
Series name: crm_cd_1
Non-Null Count   Dtype
--------------   -----
331276 non-null  category
dtypes: category(1)
memory usage: 3.2 MB

#### VICT_SEX

Usaremos el SimpleImputer para aplicar sobre la variable 'vict_sex' que vamos a sustituir los nulos por 'U' y sobre 'premis_cd' imputaremos por la moda

In [137]:
#['M', 'F', nan, 'X', 'H', '-']

#Cargamos e instanciamos SimpleImputer
from sklearn.impute import SimpleImputer

#Reenplaza todos los 'unknown' de df y los hace NaN de Numpy para que después los identifique bien.
#El valor a reemplazar hay que mirarlo en cada caso
df.vict_sex.replace(['nan'], np.nan, inplace = True)

#Instanciamos el nuevo imputer
#Variables CATEGÓRICAS
nulos_var = SimpleImputer(strategy='constant', fill_value='Unknwon') #Reenplazamos por un valor constante

#Entrenamos el imputer
#Es importante que si hacemos una sola variable la pongamos con doble corchete. Si no, nos dará un error de dimensiones
nulos_var.fit(df[['vict_sex']])

#Ejecutamos el imputer
df[['vict_sex']] = nulos_var.transform(df[['vict_sex']])

Eliminamos el registro de vict_sex = '-'

In [138]:
df = df.loc[~(df.vict_sex=='-')]

Estandarización de los valores de vict_sex para que solamente haya 'Male', 'Female' y 'Unknown'

In [139]:
df.vict_sex.unique()

array(['F', 'Unknwon', 'M', 'X', 'H'], dtype=object)

In [140]:
df.vict_sex.replace({'M':'Female',
                     'F':'Female',
                     'H':'Male',
                     'X':'Male'}, inplace=True)

In [141]:
df.vict_sex.unique()

array(['Female', 'Unknwon', 'Male'], dtype=object)

#### LOCATION

In [142]:
df = df.drop(columns='location')

#### CROSS_STREET

In [143]:
df = df.drop(columns='cross_street')

#### TIME_OCC

In [144]:
df = df.drop(columns='time_occ')

### VALORES ATÍPICOS

Localizamos los valores atípicos

In [145]:
for variable in df:
    print(variable + '\n')
    print(df[variable].value_counts(dropna = False))
    print('\n\n')

date_rptd

date_rptd
2023-02-02    344
2022-05-02    308
2022-11-02    304
2022-11-03    297
2022-06-02    297
             ...
2025-01-19      1
2025-03-07      1
2025-02-19      1
2025-03-16      1
2025-03-02      1
Name: count, Length: 1870, dtype: int64



date_occ

date_occ
2023-01-01    396
2023-02-02    375
2020-01-01    372
2022-12-02    365
2022-12-01    364
             ...
2025-03-12      1
2025-03-16      1
2025-02-25      1
2025-02-06      1
2025-03-08      1
Name: count, Length: 1856, dtype: int64



time_to_report

time_to_report
0       158744
1        73688
2        21237
3        12129
4         7976
         ...
1068         1
894          1
1393         1
859          1
900          1
Name: count, Length: 1180, dtype: int64



area

area
1     23030
12    20363
14    19614
3     19134
6     17292
15    16945
18    16564
20    16356
13    16115
7     15762
2     15457
8     15030
11    14305
9     14096
10    13876
17    13759
21    13690
5     13477
19    13247
4     12277
16    10887
Name: count, dtype: int64



area_name

area_name
Central        23030
77th Street    20363
Pacific        19614
Southwest      19134
Hollywood      17292
N Hollywood    16945
Southeast      16564
Olympic        16356
Newton         16115
Wilshire       15762
Rampart        15457
West LA        15030
Northeast      14305
Van Nuys       14096
West Valley    13876
Devonshire     13759
Topanga        13690
Harbor         13477
Mission        13247
Hollenbeck     12277
Foothill       10887
Name: count, dtype: int64



rpt_dist_no

rpt_dist_no
162     1875
1494    1741
182     1606
645     1601
646     1468
        ...
1016       1
1542       1
234        1
936        1
934        1
Name: count, Length: 1164, dtype: int64



part_1_2

part_1_2
1    198696
2    132580
Name: count, dtype: int64



crm_cd

crm_cd
510    38373
624    24823
330    21099
354    20654
740    20029
       ...
830        2
485        1
906        1
904        1
931        1
Name: count, Length: 137, dtype: int64



crm_cd_desc

crm_cd_desc
VEHICLE - STOLEN                                            38373
BATTERY - SIMPLE ASSAULT                                    24823
BURGLARY FROM VEHICLE                                       21099
THEFT OF IDENTITY                                           20654
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     20029
                                                            ...
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)                    2
FIREARMS RESTRAINING ORDER (FIREARMS RO)                        1
BIKE - ATTEMPTED STOLEN                                         1
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)        1
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)              1
Name: count, Length: 137, dtype: int64



mocodes

mocodes
9999                                            50417
0344                                            13843
0329                                             7084
1822 0344                                        4742
0325                                             3417
                                                ...
0445 0400 0429 0444 2004 1218 1402 0334 1822        1
1822 0337 0344 0449 0334                            1
0416 0446 0913 1814 1310                            1
0216 0209 0202 1822 1607 0344                       1
1100 1402 0450 1822 1407 0334                       1
Name: count, Length: 116953, dtype: int64



vict_age

vict_age
 0      88936
 30      7345
 35      7150
 28      7053
 31      7052
        ...
 98        31
 97        20
-2          9
-3          1
 120        1
Name: count, Length: 103, dtype: int64



vict_sex

vict_sex
Female     251092
Unknwon     48118
Male        32066
Name: count, dtype: int64



vict_descent

vict_descent
Hispano/Latino/Mexicano             97676
Blanco                              65898
NaN                                 48119
Afroamericano                       44930
Desconocido                         34981
Otro                                25867
Otros Asiáticos                      6963
Coreano                              1999
Filipino                             1598
Chino                                1564
Japonés                               528
Vietnamita                            381
Indio Americano/Nativo de Alaska      322
Hindú Asiático                        184
Isleño del Pacífico                    99
Hawaiano                               65
Guamés                                 29
Camboyano                              28
Laosiano                               24
Samoano                                21
Name: count, dtype: int64



premis_cd

premis_cd
101.0    86484
501.0    53693
502.0    39136
108.0    22777
203.0    15644
         ...
884.0        1
898.0        1
892.0        1
974.0        1
975.0        1
Name: count, Length: 305, dtype: int64



premis_desc

premis_desc
STREET                                          86484
SINGLE FAMILY DWELLING                          53693
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    39136
PARKING LOT                                     22777
OTHER BUSINESS                                  15644
                                                ...
HORSE RACING/SANTA ANITA PARK*                      1
MUSCLE BEACH                                        1
ESCALATOR*                                          1
DEPT OF DEFENSE FACILITY                            1
MTA - SILVER LINE - PACIFIC COAST HWY               1
Name: count, Length: 299, dtype: int64



weapon_used_cd

weapon_used_cd
NaN       223544
 400.0     57548
 500.0     11981
 511.0      7873
 102.0      6659
           ...
 125.0         4
 209.0         4
 124.0         2
 300.0         2
 123.0         1
Name: count, Length: 77, dtype: int64



weapon_desc

weapon_desc
NaN                                               223544
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     57548
UNKNOWN WEAPON/OTHER WEAPON                        11981
VERBAL THREAT                                       7873
HAND GUN                                            6659
                                                   ...
STRAIGHT RAZOR                                         4
UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE                   4
BLACKJACK                                              2
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
Name: count, Length: 77, dtype: int64



status

status
IC    265014
AO     36039
AA     28501
JA      1106
JO       615
CC         1
Name: count, dtype: int64



status_desc

status_desc
Invest Cont     265014
Adult Other      36039
Adult Arrest     28501
Juv Arrest        1106
Juv Other          615
UNK                  1
Name: count, dtype: int64



crm_cd_1

crm_cd_1
510.0    38366
624.0    24931
330.0    21116
354.0    20657
740.0    20076
         ...
830.0        2
485.0        1
430.0        1
904.0        1
931.0        1
Name: count, Length: 139, dtype: int64



crm_cd_2

crm_cd_2
NaN       308572
 998.0     18087
 930.0      1284
 860.0       452
 946.0       319
           ...
 978.0         1
 948.0         1
 976.0         1
 949.0         1
 954.0         1
Name: count, Length: 106, dtype: int64



crm_cd_3

crm_cd_3
NaN       330511
 998.0       667
 930.0        24
 946.0        14
 761.0        12
 910.0         7
 740.0         6
 860.0         4
 821.0         4
 999.0         4
 626.0         2
 956.0         2
 997.0         2
 888.0         2
 815.0         2
 753.0         2
 648.0         1
 520.0         1
 745.0         1
 810.0         1
 763.0         1
 653.0         1
 901.0         1
 943.0         1
 933.0         1
 993.0         1
 990.0         1
Name: count, dtype: int64



crm_cd_4

crm_cd_4
NaN       331249
 998.0        26
 999.0         1
Name: count, dtype: int64



lat

lat
34.1016    1844
34.2012    1474
34.0980    1435
34.1939    1194
34.1867    1117
           ...
33.7239       1
33.7240       1
33.7241       1
33.7245       1
33.7247       1
Name: count, Length: 5191, dtype: int64



lon

lon
-118.2739    2411
-118.2827    2120
-118.2915    1399
-118.2871    1355
-118.2652    1346
             ...
-118.6663       1
-118.1642       1
-118.6542       1
-118.6349       1
-118.6337       1
Name: count, Length: 4875, dtype: int64



year_rptd

year_rptd
2022    77499
2023    77269
2021    68629
2020    63502
2024    44310
2025       67
Name: count, dtype: int64



month_rptd

month_rptd
01    29875
03    29023
02    28623
08    27997
04    27662
10    27596
07    27501
05    27488
09    26920
06    26755
12    25930
11    25906
Name: count, dtype: int64



day_rptd

day_rptd
02    11699
03    11425
01    11332
07    11149
06    11145
04    11083
05    11066
13    11064
08    11032
18    11026
22    10985
23    10960
09    10922
12    10868
16    10860
19    10809
17    10805
14    10775
15    10772
28    10766
21    10736
11    10733
27    10687
10    10633
20    10618
26    10551
25    10470
24    10423
29    10194
30     9554
31     6134
Name: count, dtype: int64



year_occ

year_occ
2022    77519
2023    76530
2021    69155
2020    65879
2024    42159
2025       34
Name: count, dtype: int64



month_occ

month_occ
01    30557
03    28878
02    28630
08    27825
10    27723
07    27660
04    27616
05    27429
09    26821
06    26709
12    25757
11    25671
Name: count, dtype: int64



day_occ

day_occ
01    15377
02    12384
03    12050
15    11015
04    10962
05    10945
10    10856
06    10803
20    10797
22    10790
18    10710
07    10697
08    10687
12    10683
17    10643
13    10634
14    10578
16    10577
09    10547
28    10536
24    10505
23    10495
19    10483
21    10456
27    10442
11    10421
26    10364
25    10240
29     9866
30     9618
31     6115
Name: count, dtype: int64



hour_occ

hour_occ
12    22138
18    19939
17    19300
20    18490
19    18363
16    17557
15    17233
21    16819
14    16471
22    16244
13    15079
11    14322
10    14237
23    13905
0     13452
8     12298
9     12142
1      9687
7      8587
2      8232
6      7594
3      7226
4      6273
5      5688
Name: count, dtype: int64

#### AGRUPACION DE CATEGORÍAS RARAS

In [146]:
# Función de agrupacion de variables raras
def agrupar_cat_raras(variable, criterio = 0.02):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

# Variables a agrupar
var_imputar_cat_raras = ['weapon_used_cd','premis_cd','premis_desc','weapon_used_cd','weapon_desc','crm_cd_1','crm_cd_2','crm_cd_3','crm_cd_4']

# Aplicación
for variable in var_imputar_cat_raras:
    df[variable] = agrupar_cat_raras(df[variable],criterio = 0.02)

Hacemos un describe sobre las variables numéricas a ver que vemos y observamos que, aunque hay varias variables numéricas, no podríamos hacer ningún estadísticos sobre ellas, exceptopsobre 'vict_age' donde vemos que la media de edad es de 29 años y la mediana está en 22 años pero observamos que el mínimo es -4 y máximo 120 años. Esto lo solucionaremos una media winsorizada (0,100)

In [147]:
df.select_dtypes(include='number').describe().T

                   count       mean        std  min  25%   50%   75%     max
time_to_report  331276.0  12.190536  69.349449  0.0  0.0   1.0   2.0  1796.0
vict_age        331276.0  28.917419  22.016564 -3.0  0.0  30.0  44.0   120.0

In [148]:
df.vict_age.value_counts().sort_index(ascending=True)

vict_age
-3          1
-2          9
-1         33
 0      88936
 2        131
        ...
 96        32
 97        20
 98        31
 99       111
 120        1
Name: count, Length: 103, dtype: int64

#### WINSORIZACIÓN

VICT_AGE: Realizamos una imputacion de los valores de la edad tras realizar una media winsorizada manualmente (0, 100)

In [149]:
variable = 'vict_age'
df[variable].describe().loc[['min','max']]

min     -3.0
max    120.0
Name: vict_age, dtype: float64

In [150]:
minimo = 0
maximo = 100
df[variable] = df[variable].clip(minimo, maximo)
df[variable].describe()

count    331276.000000
mean         28.917522
std          22.016122
min           0.000000
25%           0.000000
50%          30.000000
75%          44.000000
max         100.000000
Name: vict_age, dtype: float64

In [151]:
minimo = 0
maximo = 200
df[variable] = df[variable].clip(minimo, maximo)
df[variable].describe()

count    331276.000000
mean         28.917522
std          22.016122
min           0.000000
25%           0.000000
50%          30.000000
75%          44.000000
max         100.000000
Name: vict_age, dtype: float64

In [152]:
variable = 'vict_age'
df[variable].describe().loc[['min','max']]

min      0.0
max    100.0
Name: vict_age, dtype: float64

In [153]:
minimo = 0
maximo = 100
df[variable] = df[variable].clip(minimo, maximo)
df[variable].describe()

count    331276.000000
mean         28.917522
std          22.016122
min           0.000000
25%           0.000000
50%          30.000000
75%          44.000000
max         100.000000
Name: vict_age, dtype: float64

In [154]:
num = df.select_dtypes(include='number')
num

           time_to_report  vict_age
dr_no
201812425               4        66
200705197              10        53
201912165               1         0
201317843               0        21
201608441               0        71
...                   ...       ...
240806981               0        31
240510863               1         0
241411186               0         0
241907340               1        28
240113008               1        27

[331276 rows x 2 columns]

In [155]:
cat = df.select_dtypes(exclude='number')
cat.head()

,date_rptd,date_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_sex,...,crm_cd_4,lat,lon,year_rptd,month_rptd,day_rptd,year_occ,month_occ,day_occ,hour_occ
dr_no,,,,,,,,,,,,,,,,,,,,,
201812425,2020-06-11,2020-06-07,18,Southeast,1829,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822 1300 0344 1202,Female,...,nan,33.9439,-118.2346,2020,06,11,2020,06,07,23
200705197,2020-01-23,2020-01-13,7,Wilshire,777,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0601 0443,Female,...,nan,34.0452,-118.3351,2020,01,23,2020,01,13,11
201912165,2020-07-15,2020-07-14,19,Mission,1985,1,510,VEHICLE - STOLEN,9999,Unknwon,...,nan,34.2299,-118.4517,2020,07,15,2020,07,14,22
201317843,2020-10-02,2020-10-02,13,Newton,1371,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,0913 1813 2000 0408 0448,Female,...,nan,33.9906,-118.2745,2020,10,02,2020,10,02,11
201608441,2020-04-21,2020-04-21,16,Foothill,1619,1,648,ARSON,9999,Female,...,nan,34.2629,-118.2913,2020,04,21,2020,04,21,1

## 4. GUARDADO DE RESULTADOS

In [156]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

In [157]:
ruta_trabajo = ruta_principal + carpeta + 'trabajo_resultado_eda.pickle'
ruta_cat = ruta_principal + carpeta + 'cat_resultado_eda.pickle'
ruta_num = ruta_principal + carpeta + 'num_resultado_eda.pickle'

Guardar los archivos

In [158]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)