# ANÁLISIS EXPLORATORIO DE DATOS

## 1. IMPORTAMOS PAQUETES Y DATOS

In [1]:
import pandas as pd
import zipfile
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
%config IPCompleter.greedy = True
import warnings
warnings.filterwarnings('ignore')

Ruta archivo de calidad de datos

In [2]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

Nombres de los ficheros de datos.

In [3]:
df_calidad = 'trabajo_resultado_calidad.pickle'

Cargamos los datasets

In [4]:
df = pd.read_pickle(ruta_principal + carpeta + df_calidad)

## 2. CONCLUSIONES Y CAMBIOS NECESARIOS

Observamos lo siguiente sobre las variables categóricas y numéricas: La norma es dejar lo nulos como NaN 
- En ambos casos hay variables con muchos nulos pero tiene sentido que sean nulos porque son datos que no era necesario rellenarlos
    - crm_cd_4, crm_cd_3 y crm_cd_2 son los códigos de los crímenes secundarios. Entiendo que no hubo crímenes secundarios
    - weapon_used_cd y weapon_desc: Habla de las armas usadas. Entiendo que no hubo armas
    - cross_street: Identifica si el crimen se cometió en un cruce. Entiendo que no fue en un cruce
    - mocodes: Habla del modus operandi específico del crimen. Entiendo que no encontraron un patrón identificable

- En el caso de vict_descent vamos a borrar los 2 registros que hay con '-'
- En el caso de vict_sex, aparecen registros con ['M', 'F', nan, 'X', 'H', '-']. Vamos a dejar solamente M: Male, F: Female y U: Unknown y borraremos el registro con '-'
- premis_cd y premis_desc contienen información sobre las instalaciones donde se produjo el crimen (código y descripción). Desconocemos el significado de los códigos, pero observamos que los registros de (df.premis_cd.notna())&(df.premis_desc.isna()) se concentran en unos cuantos códigos y habría que investigarlos con una persona de dentro de la organización para obtener mas información. De momento 
    - premis_cd podrían ser que no lo hayan escrito o que no tengan códogo para ese sitio concreto y habría que investigarlo con alguien de dentro
    - premis_desc que son nulos son los mismos que premis_cd por lo que los dejemos como nulos
- En el caso de status, los vamos a borrar porque no hay información en casi ninguna variable y solamente es un caso 
- Por último, crm_cd_1. Este es el código del delito principal que siempre debe ser un código mas bajo (mas bajo = mas grave) que los códigos de crm_cd_1, 2 3 y 4. Así que vamos a ponerles el mismo código por practicar entendiendo que se equivocaron al rellenar el campo y pusieron la información en el crm_cd_2 en vez de el crm_cd_1

In [5]:
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331240
crm_cd_3          330513
crm_cd_2          308186
cross_street      280379
weapon_desc       222974
weapon_used_cd    222974
mocodes            49840
vict_descent       47578
vict_sex           47572
premis_desc          201
premis_cd              5
crm_cd_1               3
crm_cd_desc            0
vict_age               0
part_1_2               0
area_name              0
rpt_dist_no            0
area                   0
time_occ               0
date_rptd              0
date_occ               0
crm_cd                 0
status                 0
status_desc            0
location               0
lat                    0
lon                    0
dtype: int64

### VARIABLES

#### MOCODES

Imputamos los nulos de 'mocodes' por 9999 para tenerlos identificados pero que sea un valor numérico de 4 dígitos

In [6]:
var_imputar_numero = ['mocodes']
numero = 9999
df[var_imputar_numero] = df[var_imputar_numero].fillna(numero)
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331240
crm_cd_3          330513
crm_cd_2          308186
cross_street      280379
weapon_desc       222974
weapon_used_cd    222974
vict_descent       47578
vict_sex           47572
premis_desc          201
premis_cd              5
crm_cd_1               3
vict_age               0
mocodes                0
crm_cd_desc            0
crm_cd                 0
part_1_2               0
rpt_dist_no            0
area_name              0
area                   0
time_occ               0
date_occ               0
date_rptd              0
status                 0
status_desc            0
location               0
lat                    0
lon                    0
dtype: int64

#### STATUS

Borramos el registro de status

In [7]:
df.loc[(df.status.isna())]

Empty DataFrame
Columns: [date_rptd, date_occ, time_occ, area, area_name, rpt_dist_no, part_1_2, crm_cd, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_cd, premis_desc, weapon_used_cd, weapon_desc, status, status_desc, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, location, cross_street, lat, lon]
Index: []

[0 rows x 27 columns]

In [8]:
df = df.loc[df.status.notna()]
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331240
crm_cd_3          330513
crm_cd_2          308186
cross_street      280379
weapon_desc       222974
weapon_used_cd    222974
vict_descent       47578
vict_sex           47572
premis_desc          201
premis_cd              5
crm_cd_1               3
vict_age               0
mocodes                0
crm_cd_desc            0
crm_cd                 0
part_1_2               0
rpt_dist_no            0
area_name              0
area                   0
time_occ               0
date_occ               0
date_rptd              0
status                 0
status_desc            0
location               0
lat                    0
lon                    0
dtype: int64

#### VICT_DESCENT

Borramos los dos registros con '-' e imputamos los registros de vict_descent según la distribución de los datos

In [9]:
df = df.loc[~(df.vict_descent=='-')]

#### CRM_CD_1

Imputamos los valores de crm_cd_1 que son nulos por los de crm_cd_2

In [10]:
df['crm_cd_1'] = df['crm_cd_1'].fillna(df['crm_cd_2'])
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331239
crm_cd_3          330512
crm_cd_2          308185
cross_street      280378
weapon_desc       222973
weapon_used_cd    222973
vict_descent       47578
vict_sex           47572
premis_desc          201
premis_cd              5
date_rptd              0
vict_age               0
mocodes                0
crm_cd_desc            0
crm_cd                 0
part_1_2               0
rpt_dist_no            0
area_name              0
area                   0
time_occ               0
date_occ               0
status_desc            0
status                 0
crm_cd_1               0
location               0
lat                    0
lon                    0
dtype: int64

#### VICT_SEX

Usaremos el SimpleImputer para aplicar sobre la variable 'vict_sex' que vamos a sustituir los nulos por 'U' y sobre 'premis_cd' imputaremos por la moda

In [11]:
#['M', 'F', nan, 'X', 'H', '-']

#Cargamos e instanciamos SimpleImputer
from sklearn.impute import SimpleImputer

#Reenplaza todos los 'unknown' de df y los hace NaN de Numpy para que después los identifique bien.
#El valor a reemplazar hay que mirarlo en cada caso
df.vict_sex.replace(['nan'], np.nan, inplace = True)

#Instanciamos el nuevo imputer
#Variables CATEGÓRICAS
nulos_var = SimpleImputer(strategy='constant', fill_value='Unknwon') #Reenplazamos por un valor constante

#Entrenamos el imputer
#Es importante que si hacemos una sola variable la pongamos con doble corchete. Si no, nos dará un error de dimensiones
nulos_var.fit(df[['vict_sex']])

#Ejecutamos el imputer
df[['vict_sex']] = nulos_var.transform(df[['vict_sex']])

Eliminamos el registro de vict_sex = '-'

In [12]:
df = df.loc[~(df.vict_sex=='-')]

Estandarización de los valores de vict_sex para que solamente haya 'Male', 'Female' y 'Unknown'

In [13]:
df.vict_sex.unique()

array(['M', 'F', 'Unknwon', 'X', 'H'], dtype=object)

In [14]:
df.vict_sex.replace({'M':'Female',
                     'F':'Female',
                     'H':'Male',
                     'X':'Male'}, inplace=True)

In [15]:
df.vict_sex.unique()

array(['Female', 'Unknwon', 'Male'], dtype=object)

### VALORES ATÍPICOS

Localizamos los valores atípicos

In [16]:
for variable in df:
    print(variable + '\n')
    print(df[variable].value_counts(dropna = False))
    print('\n\n')

date_rptd

date_rptd
2023-01-03    315
2023-02-02    305
2022-12-02    302
2022-05-03    301
2023-02-03    300
             ...
2025-02-28      1
2025-01-08      1
2025-02-10      1
2025-03-09      1
2025-03-01      1
Name: count, Length: 1861, dtype: int64



date_occ

date_occ
2022-12-01    377
2022-12-02    374
2020-01-01    364
2023-01-01    360
2022-10-01    358
             ...
2025-01-31      1
2025-03-17      1
2025-02-19      1
2025-03-14      1
2025-01-17      1
Name: count, Length: 1853, dtype: int64



time_occ

time_occ
1200    11497
1800     8640
1700     8250
2000     8096
2200     7678
        ...
436         8
531         7
854         7
151         6
424         6
Name: count, Length: 1439, dtype: int64



area

area
1     22831
12    20297
14    19796
3     18883
6     17343
15    16939
20    16590
18    16395
13    16245
7     15928
2     15431
8     15179
9     14260
11    14126
10    13892
17    13655
5     13591
21    13493
19    13338
4     12122
16    10926
Name: count, dtype: int64



area_name

area_name
Central        22831
77th Street    20297
Pacific        19796
Southwest      18883
Hollywood      17343
N Hollywood    16939
Olympic        16590
Southeast      16395
Newton         16245
Wilshire       15928
Rampart        15431
West LA        15179
Van Nuys       14260
Northeast      14126
West Valley    13892
Devonshire     13655
Harbor         13591
Topanga        13493
Mission        13338
Hollenbeck     12122
Foothill       10926
Name: count, dtype: int64



rpt_dist_no

rpt_dist_no
162     1793
1494    1701
645     1656
182     1621
646     1456
        ...
872        1
936        1
672        1
1013       1
902        1
Name: count, Length: 1171, dtype: int64



part_1_2

part_1_2
1    198536
2    132724
Name: count, dtype: int64



crm_cd

crm_cd
510    37997
624    24736
330    20855
354    20624
740    20073
       ...
349        1
904        1
473        1
926        1
445        1
Name: count, Length: 138, dtype: int64



crm_cd_desc

crm_cd_desc
VEHICLE - STOLEN                                           37997
BATTERY - SIMPLE ASSAULT                                   24736
BURGLARY FROM VEHICLE                                      20855
THEFT OF IDENTITY                                          20624
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    20073
                                                           ...
GRAND THEFT / AUTO REPAIR                                      1
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)             1
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                   1
TRAIN WRECKING                                                 1
DISHONEST EMPLOYEE ATTEMPTED THEFT                             1
Name: count, Length: 138, dtype: int64



mocodes

mocodes
9999                             49840
0344                             13944
0329                              7124
1822 0344                         4725
0325                              3421
                                 ...
0945 1822 0344 0346 0400             1
1402 1202 0344 1822 0701 0380        1
1915 0443 0337                       1
1300 0344 1822 0325 0352 0358        1
0913 1310 0416 0431                  1
Name: count, Length: 117427, dtype: int64



vict_age

vict_age
 0     88752
 30     7313
 31     7255
 35     7107
 29     7106
       ...
 97       22
 98       21
-2        11
-3         2
-4         1
Name: count, Length: 103, dtype: int64



vict_sex

vict_sex
Female     251259
Unknwon     47572
Male        32429
Name: count, dtype: int64



vict_descent

vict_descent
H      97443
W      66115
NaN    47578
B      44963
X      35276
O      25853
A       7184
K       2016
F       1577
C       1538
J        552
V        386
I        317
Z        189
P         93
U         79
D         37
L         25
G         21
S         18
Name: count, dtype: int64



premis_cd

premis_cd
101.0    85952
501.0    53619
502.0    39453
108.0    22731
203.0    15799
         ...
224.0        1
143.0        1
608.0        1
972.0        1
870.0        1
Name: count, Length: 311, dtype: int64



premis_desc

premis_desc
STREET                                          85952
SINGLE FAMILY DWELLING                          53619
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    39453
PARKING LOT                                     22731
OTHER BUSINESS                                  15799
                                                ...
SURPLUS SURVIVAL STORE                              1
MTA - PURPLE LINE - CIVIC CENTER/GRAND PARK         1
BANK DROP BOX/MONEY DROP-OUTSIDE OF BANK*           1
ESCALATOR*                                          1
MTA - ORANGE LINE - VALLEY COLLEGE                  1
Name: count, Length: 305, dtype: int64



weapon_used_cd

weapon_used_cd
NaN      222973
400.0     57770
500.0     12049
511.0      7904
102.0      6660
          ...
300.0         4
116.0         2
118.0         2
123.0         1
124.0         1
Name: count, Length: 77, dtype: int64



weapon_desc

weapon_desc
NaN                                               222973
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     57770
UNKNOWN WEAPON/OTHER WEAPON                        12049
VERBAL THREAT                                       7904
HAND GUN                                            6660
                                                   ...
BLACKJACK                                              4
ANTIQUE FIREARM                                        2
UZI SEMIAUTOMATIC ASSAULT RIFLE                        2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       1
Name: count, Length: 77, dtype: int64



status

status
IC    264392
AO     36492
AA     28680
JA      1080
JO       613
CC         3
Name: count, dtype: int64



status_desc

status_desc
Invest Cont     264392
Adult Other      36492
Adult Arrest     28680
Juv Arrest        1080
Juv Other          613
UNK                  3
Name: count, dtype: int64



crm_cd_1

crm_cd_1
510.0    37996
624.0    24849
330.0    20872
354.0    20628
740.0    20106
         ...
830.0        1
904.0        1
473.0        1
926.0        1
445.0        1
Name: count, Length: 139, dtype: int64



crm_cd_2

crm_cd_2
NaN      308185
998.0     18417
930.0      1324
860.0       475
761.0       322
          ...
932.0         1
485.0         1
410.0         1
470.0         1
949.0         1
Name: count, Length: 108, dtype: int64



crm_cd_3

crm_cd_3
NaN      330512
998.0       657
930.0        28
910.0        11
761.0        11
946.0         7
999.0         6
901.0         4
997.0         3
653.0         3
740.0         2
745.0         2
888.0         2
993.0         2
626.0         2
860.0         1
753.0         1
900.0         1
943.0         1
821.0         1
820.0         1
903.0         1
520.0         1
Name: count, dtype: int64



crm_cd_4

crm_cd_4
NaN      331239
998.0        17
946.0         2
930.0         1
999.0         1
Name: count, dtype: int64



location

location
800 N  ALAMEDA                      ST      823
700 S  FIGUEROA                     ST      567
10200    SANTA MONICA                 BL    558
100    THE GROVE                    DR      545
6TH                          ST             530
                                           ...
4300    PETIT                        AV       1
300    WOODLAND                     DR        1
5500 W  98TH                         ST       1
ECHO PARK                    TR               1
S  CAROLINA                     ST            1
Name: count, Length: 50526, dtype: int64



cross_street

cross_street
NaN                                   280378
BROADWAY                                 816
FIGUEROA                     ST          633
VERMONT                      AV          574
FIGUEROA                                 557
                                       ...
WENTWORTH                    DR            1
S  TOWNE                        AV         1
TEN FREEWAY                                1
BERTH 93A                                  1
FULTON                       ST            1
Name: count, Length: 6613, dtype: int64



lat

lat
34.1016    1920
34.2012    1429
34.0980    1376
34.1939    1196
34.1867    1096
           ...
33.7132       1
33.8640       1
33.7710       1
34.3113       1
33.7675       1
Name: count, Length: 5165, dtype: int64



lon

lon
-118.2739    2400
-118.2827    2128
-118.2915    1460
-118.2652    1373
-118.2871    1274
             ...
-118.6356       1
-118.6222       1
-118.5660       1
-118.1626       1
-118.5743       1
Name: count, Length: 4871, dtype: int64

#### AGRUPACION DE CATEGORÍAS RARAS

In [17]:
# Función de agrupacion de variables raras
def agrupar_cat_raras(variable, criterio = 0.05):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

# Variables a agrupar
var_imputar_cat_raras = ['weapon_used_cd','premis_cd','premis_desc','weapon_used_cd','weapon_desc','crm_cd_1','crm_cd_2','crm_cd_3','crm_cd_4','cross_street','location']

# Aplicación
for variable in var_imputar_cat_raras:
    df[variable] = agrupar_cat_raras(df[variable],criterio = 0.02)

Hacemos un describe sobre las variables numéricas a ver que vemos y observamos que, aunque hay varias variables numéricas, no podríamos hacer ningún estadísticos sobre ellas, exceptopsobre 'vict_age' donde vemos que la media de edad es de 29 años y la mediana está en 22 años pero observamos que el mínimo es -4 y máximo 120 años. Esto lo solucionaremos una media winsorizada (0,100)

In [18]:
df.select_dtypes(include='number').describe().T

,count,mean,std,min,25%,50%,75%,max
time_occ,331260.0,1339.725841,651.545633,1.0000,900.0000,1420.0000,1900.0000,2359.000
area,331260.0,10.695620,6.103260,1.0000,5.0000,11.0000,16.0000,21.000
rpt_dist_no,331260.0,1116.009117,610.492137,101.0000,589.0000,1139.0000,1613.0000,2199.000
part_1_2,331260.0,1.400664,0.490034,1.0000,1.0000,1.0000,2.0000,2.000
crm_cd,331260.0,500.394572,205.419692,110.0000,331.0000,442.0000,626.0000,956.000
vict_age,331260.0,28.915891,22.009206,-4.0000,0.0000,30.0000,44.0000,99.000
lat,331260.0,33.996743,1.626516,0.0000,34.0148,34.0590,34.1649,34.333
lon,331260.0,-118.085676,5.637404,-118.6676,-118.4301,-118.3231,-118.2740,0.000

In [19]:
df.vict_age.value_counts().sort_index(ascending=True)

vict_age
-4         1
-3         2
-2        11
-1        31
 0     88752
       ...
 95       35
 96       32
 97       22
 98       21
 99      109
Name: count, Length: 103, dtype: int64

#### WINSORIZACIÓN

Realizamos una imputacion de los valores de la edad tras realizar una media winsorizada manualmente (0, 100)

In [20]:
variable = 'vict_age'
df[variable].describe().loc[['min','max']]

min    -4.0
max    99.0
Name: vict_age, dtype: float64

In [21]:
minimo = 0
maximo = 100
df[variable] = df[variable].clip(minimo, maximo)
df[variable].describe()

count    331260.000000
mean         28.916081
std          22.008948
min           0.000000
25%           0.000000
50%          30.000000
75%          44.000000
max          99.000000
Name: vict_age, dtype: float64

In [22]:
num = df.select_dtypes(include='number')
num

,time_occ,area,rpt_dist_no,part_1_2,crm_cd,vict_age,lat,lon
dr_no,,,,,,,,
211204316,1718,12,1239,1,440,34,33.9883,-118.2915
201421864,1200,14,1445,2,354,42,33.9980,-118.4399
202110014,1815,21,2155,1,210,0,34.1811,-118.6059
200714602,1900,7,721,1,121,38,34.0735,-118.3777
201811375,130,18,1841,1,210,43,33.9348,-118.2826
...,...,...,...,...,...,...,...,...
240112436,800,1,153,1,330,35,34.0488,-118.2518
241314815,1522,13,1333,1,442,0,34.0174,-118.2621
240705529,1930,7,735,1,331,28,34.0649,-118.3440
240607751,25,6,666,2,755,50,34.0962,-118.3295
240600649,1300,6,647,2,745,31,34.0980,-118.3180

In [23]:
cat = df.select_dtypes(exclude='number')
cat.head()

,date_rptd,date_occ,area_name,crm_cd_desc,mocodes,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street
dr_no,,,,,,,,,,,,,,,,,,,
211204316,2020-12-22,2020-12-21,77th Street,THEFT PLAIN - PETTY ($950 & UNDER),0344 1822,Female,H,OTROS,OTROS,nan,NaN,IC,Invest Cont,440.0,nan,nan,nan,OTROS,NaN
201421864,2020-12-12,2020-11-26,Pacific,THEFT OF IDENTITY,0377,Female,O,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",nan,NaN,IC,Invest Cont,354.0,nan,nan,nan,OTROS,NaN
202110014,2020-06-01,2020-06-01,Topanga,ROBBERY,1227 1309 0355 0353 0449 0344 1822,Female,W,101.0,STREET,OTROS,OTROS,IC,Invest Cont,210.0,nan,nan,nan,OTROS,NaN
200714602,2020-10-06,2020-10-03,Wilshire,"RAPE, FORCIBLE",1402 0500 0515 0913 1814,Female,W,101.0,STREET,OTROS,KNIFE WITH BLADE 6INCHES OR LESS,AO,Adult Other,OTROS,998.0,nan,nan,OTROS,OTROS
201811375,2020-05-20,2020-05-20,Southeast,ROBBERY,1822 1300 1310 0216 0342 0344 0408 0416 0445,Female,H,101.0,STREET,102.0,HAND GUN,IC,Invest Cont,210.0,nan,nan,nan,OTROS,OTROS

## 4. GUARDADO DE RESULTADOS

In [24]:
ruta_principal = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/'
carpeta = '002_archivos/'

In [25]:
ruta_trabajo = ruta_principal + carpeta + 'trabajo_resultado_eda.pickle'
ruta_cat = ruta_principal + carpeta + 'cat_resultado_eda.pickle'
ruta_num = ruta_principal + carpeta + 'num_resultado_eda.pickle'

Guardar los archivos

In [26]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)