# CALIDAD DE DATOS

## 1. IMPORTAMOS PAQUETES Y DATOS

In [1]:
import pandas as pd
import zipfile
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
%config IPCompleter.greedy = True
import warnings
warnings.filterwarnings('ignore')

## 5. CONCLUSIONES Y CAMBIOS NECESARIOS

Observamos lo siguiente sobre las variables categóricas y numéricas: La norma es dejar lo nulos como NaN 
- En ambos casos hay variables con muchos nulos pero tiene sentido que sean nulos porque son datos que no era necesario rellenarlos
    - crm_cd_4, crm_cd_3 y crm_cd_2 son los códigos de los crímenes secundarios. Entiendo que no hubo crímenes secundarios
    - weapon_used_cd y weapon_desc: Habla de las armas usadas. Entiendo que no hubo armas
    - cross_street: Identifica si el crimen se cometió en un cruce. Entiendo que no fue en un cruce
    - mocodes: Habla del modus operandi específico del crimen. Entiendo que no encontraron un patrón identificable

- En el caso de vict_descent vamos a borrar los 2 registros que hay con '-'
- En el caso de vict_sex, aparecen registros con ['M', 'F', nan, 'X', 'H', '-']. Vamos a dejar solamente M: Male, F: Female y U: Unknown y borraremos el registro con '-'
- premis_cd y premis_desc contienen información sobre las instalaciones donde se produjo el crimen (código y descripción). Desconocemos el significado de los códigos, pero observamos que los registros de (df.premis_cd.notna())&(df.premis_desc.isna()) se concentran en unos cuantos códigos y habría que investigarlos con una persona de dentro de la organización para obtener mas información. De momento 
    - premis_cd podrían ser que no lo hayan escrito o que no tengan códogo para ese sitio concreto y habría que investigarlo con alguien de dentro
    - premis_desc que son nulos son los mismos que premis_cd por lo que los dejemos como nulos
- En el caso de status, los vamos a borrar porque no hay información en casi ninguna variable y solamente es un caso 
- Por último, crm_cd_1. Este es el código del delito principal que siempre debe ser un código mas bajo (mas bajo = mas grave) que los códigos de crm_cd_1, 2 3 y 4. Así que vamos a ponerles el mismo código por practicar entendiendo que se equivocaron al rellenar el campo y pusieron la información en el crm_cd_2 en vez de el crm_cd_1

## 5. CONCLUSIONES Y CAMBIOS NECESARIOS

Observamos lo siguiente sobre las variables categóricas y numéricas: La norma es dejar lo nulos como NaN 
- En ambos casos hay variables con muchos nulos pero tiene sentido que sean nulos porque son datos que no era necesario rellenarlos
    - crm_cd_4, crm_cd_3 y crm_cd_2 son los códigos de los crímenes secundarios. Entiendo que no hubo crímenes secundarios
    - weapon_used_cd y weapon_desc: Habla de las armas usadas. Entiendo que no hubo armas
    - cross_street: Identifica si el crimen se cometió en un cruce. Entiendo que no fue en un cruce
    - mocodes: Habla del modus operandi específico del crimen. Entiendo que no encontraron un patrón identificable

- En el caso de vict_descent vamos a borrar los 2 registros que hay con '-'
- En el caso de vict_sex, aparecen registros con ['M', 'F', nan, 'X', 'H', '-']. Vamos a dejar solamente M: Male, F: Female y U: Unknown y borraremos el registro con '-'
- premis_cd y premis_desc contienen información sobre las instalaciones donde se produjo el crimen (código y descripción). Desconocemos el significado de los códigos, pero observamos que los registros de (df.premis_cd.notna())&(df.premis_desc.isna()) se concentran en unos cuantos códigos y habría que investigarlos con una persona de dentro de la organización para obtener mas información. De momento 
    - premis_cd podrían ser que no lo hayan escrito o que no tengan códogo para ese sitio concreto y habría que investigarlo con alguien de dentro
    - premis_desc que son nulos son los mismos que premis_cd por lo que los dejemos como nulos
- En el caso de status, los vamos a borrar porque no hay información en casi ninguna variable y solamente es un caso 
- Por último, crm_cd_1. Este es el código del delito principal que siempre debe ser un código mas bajo (mas bajo = mas grave) que los códigos de crm_cd_1, 2 3 y 4. Así que vamos a ponerles el mismo código por practicar entendiendo que se equivocaron al rellenar el campo y pusieron la información en el crm_cd_2 en vez de el crm_cd_1

Imputaciones por 'NULO'

In [34]:
list(df.columns)

['date_rptd',
 'date_occ',
 'time_occ',
 'area',
 'area_name',
 'rpt_dist_no',
 'part_1_2',
 'crm_cd',
 'crm_cd_desc',
 'mocodes',
 'vict_age',
 'vict_sex',
 'vict_descent',
 'premis_cd',
 'premis_desc',
 'weapon_used_cd',
 'weapon_desc',
 'status',
 'status_desc',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'crm_cd_4',
 'location',
 'cross_street',
 'lat',
 'lon']

In [35]:
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331210
crm_cd_3          330509
crm_cd_2          308470
cross_street      280321
weapon_desc       223477
weapon_used_cd    223477
mocodes            50061
vict_descent       47839
vict_sex           47835
premis_desc          183
premis_cd              5
crm_cd_1               4
status                 1
vict_age               0
crm_cd_desc            0
area_name              0
rpt_dist_no            0
area                   0
time_occ               0
date_rptd              0
date_occ               0
crm_cd                 0
part_1_2               0
status_desc            0
location               0
lat                    0
lon                    0
dtype: int64

Imputamos los nulos de 'mocodes' por 9999 para tenerlos identificados pero que sea un valor numérico de 4 dígitos

In [36]:
var_imputar_numero = ['mocodes']
numero = 9999
df[var_imputar_numero] = df[var_imputar_numero].fillna(numero)
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331210
crm_cd_3          330509
crm_cd_2          308470
cross_street      280321
weapon_desc       223477
weapon_used_cd    223477
vict_descent       47839
vict_sex           47835
premis_desc          183
premis_cd              5
crm_cd_1               4
status                 1
vict_age               0
crm_cd_desc            0
mocodes                0
part_1_2               0
rpt_dist_no            0
area_name              0
area                   0
time_occ               0
date_occ               0
date_rptd              0
crm_cd                 0
status_desc            0
location               0
lat                    0
lon                    0
dtype: int64

Borramos el registro de status

In [37]:
df.loc[(df.status.isna())]

,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
dr_no,,,,,,,,,,,,,,,,,,,,,,,,,,,
241810568,2024-06-08,2024-05-24,1900,18,Southeast,1871,1,510,VEHICLE - STOLEN,9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNK,510.0,NaN,NaN,NaN,13500 S FIGUEROA ST,NaN,33.9092,-118.2827

In [38]:
df = df.loc[df.status.notna()]
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331209
crm_cd_3          330508
crm_cd_2          308469
cross_street      280320
weapon_desc       223476
weapon_used_cd    223476
vict_descent       47838
vict_sex           47834
premis_desc          182
crm_cd_1               4
premis_cd              4
vict_age               0
mocodes                0
crm_cd_desc            0
crm_cd                 0
part_1_2               0
rpt_dist_no            0
area_name              0
area                   0
time_occ               0
date_occ               0
date_rptd              0
status                 0
status_desc            0
location               0
lat                    0
lon                    0
dtype: int64

Borramos los dos registros con '-' e imputamos los registros de vict_descent según la distribución de los datos

In [39]:
df = df.loc[~(df.vict_descent=='-')]

Imputamos los valores de crm_cd_1 que son nulos por los de crm_cd_2

In [40]:
df['crm_cd_1'] = df['crm_cd_1'].fillna(df['crm_cd_2'])
df.isna().sum().sort_values(ascending=False)

crm_cd_4          331208
crm_cd_3          330507
crm_cd_2          308468
cross_street      280319
weapon_desc       223475
weapon_used_cd    223475
vict_descent       47838
vict_sex           47834
premis_desc          182
premis_cd              4
date_rptd              0
vict_age               0
mocodes                0
crm_cd_desc            0
crm_cd                 0
part_1_2               0
rpt_dist_no            0
area_name              0
area                   0
time_occ               0
date_occ               0
status_desc            0
status                 0
crm_cd_1               0
location               0
lat                    0
lon                    0
dtype: int64

Usaremos el SimpleImputer para aplicar sobre la variable 'vict_sex' que vamos a sustituir los nulos por 'U' y sobre 'premis_cd' imputaremos por la moda

In [41]:
#['M', 'F', nan, 'X', 'H', '-']

#Cargamos e instanciamos SimpleImputer
from sklearn.impute import SimpleImputer

#Reenplaza todos los 'unknown' de df y los hace NaN de Numpy para que después los identifique bien.
#El valor a reemplazar hay que mirarlo en cada caso
df.vict_sex.replace(['nan'], np.nan, inplace = True)

#Instanciamos el nuevo imputer
#Variables CATEGÓRICAS
nulos_var = SimpleImputer(strategy='constant', fill_value='Unknwon') #Reenplazamos por un valor constante

#Entrenamos el imputer
#Es importante que si hacemos una sola variable la pongamos con doble corchete. Si no, nos dará un error de dimensiones
nulos_var.fit(df[['vict_sex']])

#Ejecutamos el imputer
df[['vict_sex']] = nulos_var.transform(df[['vict_sex']])

Eliminamos el registro de vict_sex = '-'

In [42]:
df = df.loc[~(df.vict_sex=='-')]

Estandarización de los valores de vict_sex para que solamente haya 'Male', 'Female' y 'Unknown'

In [43]:
df.vict_sex.unique()

array(['F', 'M', 'X', 'Unknwon', 'H'], dtype=object)

In [44]:
df.vict_sex.replace({'M':'Female',
                     'F':'Female',
                     'H':'Male',
                     'X':'Male'}, inplace=True)

In [45]:
df.vict_sex.unique()

array(['Female', 'Male', 'Unknwon'], dtype=object)

### VALORES ATÍPICOS

Localizamos los valores atípicos

In [46]:
for variable in df:
    print(variable + '\n')
    print(df[variable].value_counts(dropna = False))
    print('\n\n')

date_rptd

date_rptd
2022-04-04    320
2023-01-03    318
2022-06-02    305
2023-02-03    299
2023-02-02    295
             ...
2025-02-28      1
2025-02-13      1
2025-02-23      1
2025-01-03      1
2025-03-01      1
Name: count, Length: 1868, dtype: int64



date_occ

date_occ
2023-01-01    392
2022-12-02    384
2022-12-01    381
2022-10-01    368
2020-01-01    366
             ...
2025-02-02      1
2025-03-14      1
2025-04-29      1
2025-03-05      1
2025-01-30      1
Name: count, Length: 1854, dtype: int64



time_occ

time_occ
1200    11512
1800     8701
1700     8282
2000     8164
2200     7594
        ...
541         7
432         6
434         6
531         6
741         5
Name: count, Length: 1439, dtype: int64



area

area
1     22821
12    20436
14    19504
3     18972
6     17331
15    16720
18    16448
20    16381
13    16197
7     16001
2     15462
8     15117
11    14356
9     14297
10    13925
17    13697
21    13691
5     13597
19    13278
4     12206
16    10796
Name: count, dtype: int64



area_name

area_name
Central        22821
77th Street    20436
Pacific        19504
Southwest      18972
Hollywood      17331
N Hollywood    16720
Southeast      16448
Olympic        16381
Newton         16197
Wilshire       16001
Rampart        15462
West LA        15117
Northeast      14356
Van Nuys       14297
West Valley    13925
Devonshire     13697
Topanga        13691
Harbor         13597
Mission        13278
Hollenbeck     12206
Foothill       10796
Name: count, dtype: int64



rpt_dist_no

rpt_dist_no
162     1777
1494    1761
645     1628
182     1605
646     1461
        ...
696        1
1648       1
800        1
934        1
843        1
Name: count, Length: 1167, dtype: int64



part_1_2

part_1_2
1    198650
2    132583
Name: count, dtype: int64



crm_cd

crm_cd
510    38056
624    24602
330    21120
354    20646
740    20061
       ...
884        1
349        1
906        1
942        1
453        1
Name: count, Length: 139, dtype: int64



crm_cd_desc

crm_cd_desc
VEHICLE - STOLEN                                           38056
BATTERY - SIMPLE ASSAULT                                   24602
BURGLARY FROM VEHICLE                                      21120
THEFT OF IDENTITY                                          20646
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    20061
                                                           ...
FAILURE TO DISPERSE                                            1
GRAND THEFT / AUTO REPAIR                                      1
FIREARMS RESTRAINING ORDER (FIREARMS RO)                       1
BRIBERY                                                        1
DRUNK ROLL - ATTEMPT                                           1
Name: count, Length: 139, dtype: int64



mocodes

mocodes
9999                                  50060
0344                                  13830
0329                                   7069
1822 0344                              4729
0325                                   3326
                                      ...
1822 1606 1202 0342                       1
0314 1501 1822 0358 2034                  1
1822 0445 0416 0429 2034                  1
0344 1822 1236 0325 0385 1609 1307        1
0400 1300 1309 0417 1822 0356             1
Name: count, Length: 117231, dtype: int64



vict_age

vict_age
 0     88805
 30     7448
 35     7230
 29     7008
 31     6997
       ...
 97       24
 98       20
-2        11
-3         2
-4         2
Name: count, Length: 103, dtype: int64



vict_sex

vict_sex
Female     251179
Unknwon     47834
Male        32220
Name: count, dtype: int64



vict_descent

vict_descent
H      97904
W      66201
NaN    47838
B      44657
X      35091
O      25703
A       7064
K       1918
F       1610
C       1505
J        530
V        408
I        344
Z        185
P        100
U         72
D         30
L         26
G         25
S         22
Name: count, dtype: int64



premis_cd

premis_cd
101.0    86494
501.0    54174
502.0    39238
108.0    22419
203.0    15691
         ...
896.0        1
898.0        1
883.0        1
976.0        1
879.0        1
Name: count, Length: 309, dtype: int64



premis_desc

premis_desc
STREET                                          86494
SINGLE FAMILY DWELLING                          54174
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    39238
PARKING LOT                                     22419
OTHER BUSINESS                                  15691
                                                ...
MASS GATHERING LOCATION                             1
MTA - SILVER LINE - ROSECRANS                       1
MTA - SILVER LINE - PACIFIC COAST HWY               1
MTA - ORANGE LINE - ROSCOE                          1
MTA - ORANGE LINE - DE SOTO                         1
Name: count, Length: 302, dtype: int64



weapon_used_cd

weapon_used_cd
NaN      223475
400.0     57720
500.0     12022
511.0      7842
102.0      6590
          ...
119.0         2
116.0         2
124.0         2
123.0         1
121.0         1
Name: count, Length: 79, dtype: int64



weapon_desc

weapon_desc
NaN                                               223475
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     57720
UNKNOWN WEAPON/OTHER WEAPON                        12022
VERBAL THREAT                                       7842
HAND GUN                                            6590
                                                   ...
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    2
ANTIQUE FIREARM                                        2
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          1
Name: count, Length: 79, dtype: int64



status

status
IC    264386
AO     36278
AA     28835
JA      1138
JO       592
CC         4
Name: count, dtype: int64



status_desc

status_desc
Invest Cont     264386
Adult Other      36278
Adult Arrest     28835
Juv Arrest        1138
Juv Other          592
UNK                  4
Name: count, dtype: int64



crm_cd_1

crm_cd_1
510.0    38052
624.0    24702
330.0    21135
354.0    20649
740.0    20096
         ...
884.0        1
349.0        1
430.0        1
942.0        1
453.0        1
Name: count, Length: 141, dtype: int64



crm_cd_2

crm_cd_2
NaN      308468
998.0     18230
930.0      1281
860.0       470
626.0       299
          ...
661.0         1
978.0         1
760.0         1
928.0         1
470.0         1
Name: count, Length: 97, dtype: int64



crm_cd_3

crm_cd_3
NaN      330507
998.0       635
930.0        32
910.0         9
946.0         8
761.0         7
740.0         4
745.0         4
999.0         4
821.0         3
901.0         3
888.0         2
753.0         2
653.0         2
933.0         1
820.0         1
626.0         1
813.0         1
860.0         1
943.0         1
956.0         1
993.0         1
997.0         1
850.0         1
520.0         1
Name: count, dtype: int64



crm_cd_4

crm_cd_4
NaN      331208
998.0        22
930.0         1
821.0         1
999.0         1
Name: count, dtype: int64



location

location
800 N  ALAMEDA                      ST      839
100    THE GROVE                    DR      577
700 S  FIGUEROA                     ST      563
9300    TAMPA                        AV     535
6TH                          ST             509
                                           ...
8500    FLIGHT                       AV       1
22200    KITTRIDGE                    ST      1
16400    MCKEEVER                     ST      1
16500    BLACKHAWK                    ST      1
13700    OSCAR                        ST      1
Name: count, Length: 50628, dtype: int64



cross_street

cross_street
NaN                                   280319
BROADWAY                                 823
FIGUEROA                     ST          657
VERMONT                      AV          562
FIGUEROA                                 556
                                       ...
CESAR E CHAVEZ               ST            1
RUNWAY                                     1
S  HUNTINGTON                   DR         1
CROWN HILL                   ST            1
THORNTON                     CT            1
Name: count, Length: 6541, dtype: int64



lat

lat
34.1016    1865
34.2012    1494
34.0980    1444
34.1939    1192
34.1867    1097
           ...
33.7519       1
33.8574       1
34.1736       1
34.3094       1
33.7463       1
Name: count, Length: 5176, dtype: int64



lon

lon
-118.2739    2503
-118.2827    2153
-118.2915    1444
-118.2652    1382
-118.3089    1304
             ...
-118.1816       1
-118.6196       1
-118.6351       1
-118.5810       1
-118.5331       1
Name: count, Length: 4885, dtype: int64

#### AGRUPACION DE CATEGORÍAS RARAS

In [47]:
# Función de agrupacion de variables raras
def agrupar_cat_raras(variable, criterio = 0.05):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

# Variables a agrupar
var_imputar_cat_raras = ['weapon_used_cd','premis_cd','premis_desc','weapon_used_cd','weapon_desc','crm_cd_1','crm_cd_2','crm_cd_3','crm_cd_4','cross_street','location']

# Aplicación
for variable in var_imputar_cat_raras:
    df[variable] = agrupar_cat_raras(df[variable],criterio = 0.02)

Hacemos un describe sobre las variables numéricas a ver que vemos y observamos que, aunque hay varias variables numéricas, no podríamos hacer ningún estadísticos sobre ellas, exceptopsobre 'vict_age' donde vemos que la media de edad es de 29 años y la mediana está en 22 años pero observamos que el mínimo es -4 y máximo 120 años. Esto lo solucionaremos una media winsorizada (0,100)

In [48]:
df.select_dtypes(include='number').describe().T

,count,mean,std,min,25%,50%,75%,max
time_occ,331233.0,1338.443033,652.336430,1.0000,900.0000,1420.0000,1900.0000,2359.0000
area,331233.0,10.684168,6.104346,1.0000,5.0000,11.0000,16.0000,21.0000
rpt_dist_no,331233.0,1114.893531,610.539138,101.0000,587.0000,1137.0000,1612.0000,2199.0000
part_1_2,331233.0,1.400271,0.489954,1.0000,1.0000,1.0000,2.0000,2.0000
crm_cd,331233.0,500.019790,205.028723,110.0000,331.0000,442.0000,626.0000,956.0000
vict_age,331233.0,28.906090,21.993101,-4.0000,0.0000,30.0000,44.0000,99.0000
lat,331233.0,34.001755,1.573132,0.0000,34.0148,34.0590,34.1649,34.3343
lon,331233.0,-118.103119,5.451589,-118.6676,-118.4308,-118.3225,-118.2739,0.0000

In [49]:
df.vict_age.value_counts().sort_index(ascending=True)

vict_age
-4         2
-3         2
-2        11
-1        34
 0     88805
       ...
 95       33
 96       28
 97       24
 98       20
 99      114
Name: count, Length: 103, dtype: int64

#### WINSORIZACIÓN

Realizamos una imputacion de los valores de la edad tras realizar una media winsorizada manualmente (0, 100)

In [50]:
variable = 'vict_age'
df[variable].describe().loc[['min','max']]

min    -4.0
max    99.0
Name: vict_age, dtype: float64

In [51]:
minimo = 0
maximo = 100
df[variable] = df[variable].clip(minimo, maximo)
df[variable].describe()

count    331233.000000
mean         28.906302
std          21.992814
min           0.000000
25%           0.000000
50%          30.000000
75%          44.000000
max          99.000000
Name: vict_age, dtype: float64

In [52]:
num = df.select_dtypes(include='number')
num

,time_occ,area,rpt_dist_no,part_1_2,crm_cd,vict_age,lat,lon
dr_no,,,,,,,,
201818775,1650,18,1829,2,740,0,33.9465,-118.2332
201421059,1500,14,1425,2,740,34,34.0234,-118.4292
202113306,1010,21,2157,2,624,30,34.1895,-118.5811
201915505,1040,19,1998,1,442,45,0.0000,0.0000
201317760,1041,13,1321,1,440,22,34.0289,-118.2686
...,...,...,...,...,...,...,...,...
240218299,1900,2,279,1,330,23,34.0473,-118.2701
240608549,1130,6,644,1,440,30,34.0980,-118.3441
241210889,1230,12,1259,2,624,40,33.9747,-118.2696
240109638,1415,1,165,2,946,39,34.0439,-118.2497
240117395,2130,1,162,1,330,38,34.0480,-118.2577

In [53]:
cat = df.select_dtypes(exclude='number')
cat.head()

,date_rptd,date_occ,area_name,crm_cd_desc,mocodes,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street
dr_no,,,,,,,,,,,,,,,,,,,
201818775,2020-10-13,2020-10-13,Southeast,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 2000 1300 1813 1814,Female,B,101.0,STREET,nan,NaN,AO,Adult Other,740.0,nan,nan,nan,OTROS,NaN
201421059,2020-11-23,2020-11-22,Pacific,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 1300 1609,Female,A,OTROS,OTROS,nan,NaN,IC,Invest Cont,740.0,nan,nan,nan,OTROS,NaN
202113306,2020-08-31,2020-08-31,Topanga,BATTERY - SIMPLE ASSAULT,0416,Female,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,624.0,nan,nan,nan,OTROS,NaN
201915505,2020-10-10,2020-10-10,Mission,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,Female,X,OTROS,OTROS,nan,NaN,IC,Invest Cont,442.0,nan,nan,nan,OTROS,NaN
201317760,2020-09-30,2020-09-29,Newton,THEFT PLAIN - PETTY ($950 & UNDER),0344 1601 0202,Female,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",nan,NaN,IC,Invest Cont,440.0,nan,nan,nan,OTROS,NaN

## 4. GUARDADO DE RESULTADOS

In [54]:
ruta_calidad = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/EVOLVE/Data Science/EVOLVE/Fernando_Costa/Practicas/Mini_Proyecto_EDA/001_crime_from_2020/'

In [55]:
ruta_trabajo = ruta_calidad + '003_archivos/trabajo_resultado_calidad.pickle'
ruta_cat = ruta_calidad + '003_archivos/cat_resultado_calidad.pickle'
ruta_num = ruta_calidad + '003_archivos/num_resultado_calidad.pickle'

Guardar los archivos

In [56]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)