# И An谩lisis de Outliers - Versi贸n Avanzada
Este notebook muestra c贸mo detectar y tratar outliers utilizando distintas estrategias adaptadas a cada variable del dataset. Incluye detecci贸n con IQR y Z-score, y tratamientos como eliminaci贸n, winsorizaci贸n y sustituci贸n por mediana.

In [1]:
# Crear un DataFrame con outliers incluidos
import pandas as pd

# Generamos datos base para 100 registros
import numpy as np
np.random.seed(42)

data_outliers = {
    'ID': list(range(1, 101)),
    'Edad': np.random.normal(loc=35, scale=5, size=100).astype(int).tolist(),  # Edad promedio ~35
    'Ingresos': np.random.normal(loc=2000, scale=300, size=100).astype(int).tolist(),  # Ingresos promedio ~2000
    'Tiempo_uso': np.random.normal(loc=2.5, scale=0.5, size=100).round(2).tolist(),  # Horas promedio ~2.5
    'Genero': ['M', 'F'] * 50
}

# Insertamos outliers manualmente en Edad
data_outliers['Edad'][5] = 99   # Muy alto
data_outliers['Edad'][15] = 3   # Muy bajo

# Insertamos outliers en Ingresos
data_outliers['Ingresos'][10] = 10000  # Muy alto
data_outliers['Ingresos'][20] = 100    # Muy bajo

# Insertamos outliers en Tiempo_uso
data_outliers['Tiempo_uso'][25] = 15.0
data_outliers['Tiempo_uso'][30] = 20.0

df = pd.DataFrame(data_outliers)

In [2]:
df

     ID  Edad  Ingresos  Tiempo_uso Genero
0     1    37      1575        2.68      M
1     2    34      1873        2.78      F
2     3    38      1897        3.04      M
3     4    42      1759        3.03      F
4     5    33      1951        1.81      M
..  ...   ...       ...         ...    ...
95   96    27      2115        2.15      F
96   97    36      1734        2.95      M
97   98    36      2046        2.65      F
98   99    35      2017        2.91      M
99  100    33      1657        2.81      F

[100 rows x 5 columns]

## Importacion del dataset con outliers

# Detecci贸n de outliers con IQR

In [4]:
for col in ['Edad', 'Ingresos', 'Tiempo_uso']:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3-q1
    lower, upper = q1 -1.5 * iqr, q3 + 1.5 * iqr
    print(f'{col} - IQR Outlilers: ', df[(df[col]<lower) | (df[col]>upper)].shape[0])

Edad - IQR Outlilers:  3
Ingresos - IQR Outlilers:  3
Tiempo_uso - IQR Outlilers:  4

# Detecci贸n de outliers con zscore

In [ ]:
from scipy.stats import zscore

for col in ['Edad', 'Ingresos', 'Tiempo_uso']:
    z_scores = zscore(df[col])
    print(f'{col} - Z-score', )

Edad - Z-score
Ingresos - Z-score
Tiempo_uso - Z-score

## Eliminaci贸n de outliers en Edad (IQR)

## Winsorizaci贸n en Ingresos (P5-P95)

## Sustituci贸n por mediana en Tiempo_uso

## Comparativa antes despues