# REGEX IN PANDAS

In [1]:
import pandas as pd

# Extracto

`1. Extraer los enlaces`

In [9]:
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

In [10]:
df = pd.DataFrame({'text': ['Visit our website at https://example.com', 'For more information, go to http://www.example.org']})
df

                                                text
0           Visit our website at https://example.com
1  For more information, go to http://www.example...

`patrón_enlace = "?"`

In [ ]:
# https://example.com
# http://www.example.org

`2. Extraer el número de teléfono`

In [24]:
df = pd.DataFrame({'text': ['Call me at (123) 456-7890 or 555-5555', 'No phone numbers here']})
df

                                    text
0  Call me at (123) 456-7890 or 555-5555
1                  No phone numbers here

`3. Extraer el correo electrónico`

`patrón_correo electrónico = "?"`

`4. Extraiga los nombres y expanda las columnas`

In [61]:
df = pd.DataFrame({'name': ['john Smith', 'Alice Johnson']})
df

            name
0     john Smith
1  Alice Johnson

`nombres_de_patrón = "?"`

# Reemplazar

`1. Eliminar caracteres no alfanuméricos`

`patter_non_alphanumeric = "\W+"`